@CHARSET "UTF-8";
*{
	margin: 0;
    padding: 0;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.clearfix:before,
.clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }
.clearfix { *zoom: 1;clear:both }


.fll{
	float: left;
}
.frr{
	float: right;
}
.clr{
	clear: both;
}
img{border: 0}
a{
	text-decoration: none;
}
.clr{
	clear: both;
}
.w1000,.third,.four{
	width: 1000px;
	margin: 0 auto;
	
}
.third {
    height: 390px;
    overflow: hidden;
}

.header{
	width: 1000px;
	margin: 0 auto;
	background: url("../images/headbg.jpg") repeat-x;
	height: 30px;
	line-height: 30px;
	color: #474747;
}
.header .fr{
	padding-right: 10px;
}
.header .fl{
	padding-left: 10px;
}
.dlogo{
	width: 1000px;
	margin: 0 auto;
}
.dlogo .menu{
	height: 48px;
	line-height: 37px;
	background: url("../images/menubg.jpg") repeat-x;
}
.dlogo .menu a,.dlogo .menu span{
	color: #fff;
	display: block;
	float: left;
}
.dlogo .menu a{
	font-size: 14px;
	font-weight: bold;
	padding: 0 25px;
}
.dlogo .menu .nav{
	float:left;
	padding-left: 20px;
}
.dlogo .menu .soso{
	float:right;
	padding-right:10px;
	width: 228px;
	height: 31px;
	padding-top:1px;
}
.dlogo .menu .soso .key{
	width:186px;
	height: 24px;
	padding: 0 5px;
	border: 0px;
	background: transparent;
	color: #94989b;
}
.dmain{
	width: 998px;
	margin:0 auto;
	border: 1px solid #dadddd;
	padding-bottom:20px;
	clear: both;
}
.dmain .mleft{
	float: left;
	width: 670px;
}
.dmain .mnav{
	padding:15px 0 0 20px;
}
.dmain .mnav h1{
	color: #1d5b8e;
	font-weight: normal;
	height: 22px;
	line-height: 22px;
}
.dmain .mnav .mline{
	
	font-size: 0px;
	width:650px;
	height: 5px;
	background: #458cb8;
}
.dmain .mleft h1 span{
	color: #000000;
}
.mlist{
	padding: 15px 0 0 25px;
}
.mlist ul,.mlist ul li{
	list-style: none;
}
.mlist ul li{
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
	background: url("../images/dian.jpg") left center no-repeat;
	padding: 0px 30px 0 10px;
}
.mlist ul li.liline{
	background: url("../images/liline.jpg") left center repeat-x;
}
.mlist ul li a,.mlist ul li span{
	font-size:14px;
	color: #115884;
}
.mlist ul li span{
	zoom:1;
	padding-left: 20px;
    float:right;
}
.dmain .mleft .page{
	font-size: 14px;
	padding: 40px 0 0 0;

}
.dmain .mright{
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}
 .helpsound{
	width: 282px;
	height: 402px;
	background: url("../images/helpsound.jpg") no-repeat;
}
.mright .lanmu{
	padding-top: 8px;
}
.mright .lanmutop{
	width: 285px;
	height: 50px;
	line-height:50px;
	background: url("../images/lanmutop.jpg") no-repeat;
}
.mright .lanmutop h1{
	font-size: 14px;
	color: #363636;
	padding-left:15px;
}
.mright .lanmucen{
	width: 285px;
	background: url("../images/lanmucen.jpg") repeat-y;
}
.mright .lanmufoot{
	width: 285px;
	height: 10px;
	background: url("../images/lanmufoot.jpg") no-repeat;
}
.mllist{
	padding: 0px 0 0 20px;
}
.mllist ul li{
	background: url("../images/bdian.jpg") left center no-repeat;
}
.mllist ul li a{
	color: #444;
}
.mfoot{
	clear:both;
	width: 100%;
	height: 83px;
	background: url("../images/mfoot.jpg") repeat-x;
	margin-top: 30px;
}
.mfoot .bqxx{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.mfoot .bqxx .p1{
	padding-top: 18px;
}
.mfoot .bqxx .p2{
	padding-top: 8px;
	color: #3e3e3e;
}
/*快递详细信息*/
.kdxx{
	width:610px;
	padding-left: 40px;
}
.kdxx h1{
	text-align: center;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #c6c6c6;
}
.contentText {
    padding: 15px 4px;
    line-height: 26px;
    font-size: 14px;
    color: #2B2B2B;
    overflow: hidden;
}
.contentText img {
    width:100%;
}

.abstract {
	margin-top:20px;
    border: 1px solid #E3E2E2;
    background: none repeat scroll 0% 0% #F5F5F5;
    padding: 10px 21px;
    line-height: 24px;
    font-size: 14px;
    color: #464646;
}
.bmzx{
	height: 38px;
	background: url("../images/bmzx.jpg") repeat-x;
}
.bmlist div{
	padding: 10px;
	color: #7e7c7d;
}
.bmlist a{
	padding: 0 8px;
	font-size: 14px;
	color: #7e7c7d;
	white-space:nowrap;
}
.showstatus{
	width: 998px;
	border: 1px solid #DADDDD;
	margin-top: 6px;
	text-align: center;
	padding: 10px 0;
}
.mfirst{
	width: 1000px;
	margin: 0 auto;
}
.mfirst .mhdp{
	float: left;
}
.mfirst .mhdp{
	width: 428px;
	height: 264px;
	border: 1px solid #313332;
}
.mfirst .mmskd{
	float: right;
}
.mfirst .mmskd{
	width: 565px;
	height: 266px;
	overflow: hidden;
}
.mmskd h2{
	height: 35px;
	line-height: 35px;
	background: url("../images/mslogo.jpg") no-repeat;
	text-align: right;
	font-weight: normal;
	font-size: 14px;
}
/*
.mmskd h2 a{
	font-size: 14px;
	font-weight: normal;
}
*/
.mscon{
	width: 563px;
	height: 229px;
	border: 1px solid #DADDDD;
}
.mscon h3,.mscon h3 a{
	font-family:'微软雅黑';
	
	text-align: center;
	font-size: 28px;
	color: #000;
}
.mscon .hot2{
	padding: 0px 10px;
	text-align: center;
	color: #434343;
}
.mscon .hot2 a{
	font-size: 14px;
	color: #434343;
	padding: 0 10px;
	
}
.mlisth ul li{
	display: inline;
	float: left;
	width: 220px;
}

.mlisth ul li:nth-child(2n){
    margin-right:10px;
}

.hotline{
	width:550px;
	height:1px;
	margin:0 auto;
	background: url("../images/liline.jpg") left center repeat-x;
}
.msecond{
	width: 1000px;
	margin: 0 auto;
	padding-top: 10px;
}
.zxask-btm {
    width: 1000px;
    overflow: hidden;
    zoom: 1;
}
.secleft{
	float: left;
	width: 730px;
        position: relative;
}

.mscons{
	width: 728px;
	height:220px;
	border: 1px solid #DADDDD;
	overflow: hidden;
	position: relative;
}
.secleft h2{
	height: 35px;
	line-height: 35px;
	background: url("../images/xwfblogo.jpg") no-repeat;
	text-align: right;
	font-weight: normal;
	font-size: 14px;
}
.mlisthome{
	padding-top: 10px;
	padding-left: 18px;
	padding-bottom: 10px;
	width: 420px;
	overflow: hidden;

}
.mlisthome ul li{
	font-size: 14px;
}
.mlisthome ul li a{
	color: #000;
}
.viewbg{
	width: 253px;
	height: 229px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.viewbg .views{
	width: 253px;
	height: 229px;
	background: url("../images/viewbg.jpg") no-repeat;
}
.secright{
	float: right;
}
.secright .bncdsy{
	width: 240px;
	height: 379px;
	background: url("../images/helpsound-top.jpg") no-repeat 0 0;
}
.asklc{
	margin-top: 15px;
}
.bluebg{
	font-size: 0px;
	height: 4px;
	background: #026dcf;
	margin: 20px 0;
}
.zxask{
	
	height: 65px;
	background: url("../images/zxask.jpg") no-repeat;
	position: relative;
}
.wxsytop{
	height: 50px;
	background: url("../images/wxsytop.jpg") no-repeat;
	position: relative;
}

.wxsytop a {
    position: absolute;
    right:0px;
    top:10px;
    
}

.mmskd {
    
}

.mmskd .xld dt {
    padding:2px 0 3px;
}

.mmskd .xld dd {
    font-weight: normal;
    margin-bottom: 8px;
}

.zxask a {
	display: block;
	position: absolute;
	width: 65px;
	height: 30px;
	top: 22px;
    right: -22px;
}


.zxask a.a1{
	right: 168px;
}
.zxask a.a2{
	right: 80px;
}
.asktop{
	position: relative;
}
.asktop ul,.asktop ul li{
	list-style: none;
}
.asktop ul li{
	float: left;
	width:106px;
	height:38px;
	margin-right: 8px;
	background: url("../images/qiehuanbg.jpg") no-repeat;
	background-position: right top;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
}
.asktop ul li a {
    font-weight: bolder;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.zxwd_2{
	display: none;
}
.asktop ul li.askcur{
	background-position: left top;
}
.asktop .rightlc{
	width: 501px;
	height: 38px;
	position: absolute;
	right: 0px;
	top: 10px;
}
.askul{
	padding: 10px 0;
}
.askul ul,.askul ul li{
	list-style: none;
}
.askul ul li{
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
	border-bottom: 1px dashed #d1d1d1;
}
.askul ul li div{
	float: left;
}
.askul ul li div a{
	font-size:14px;
	color: #000;
}
.askul ul li div.p1{
	background: url("../images/dian.jpg") left center no-repeat;
	padding-left: 10px;
	width:380px;
}
.askul ul li div.p2{
	width: 140px;
	color: #3f3f3f;
	font-family: Arial;
}
.askul ul li div.p3{
	width: 110px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	
}
.askul ul li div.p4{
	color: #ff5d00;
	font-size: 14px;
}
.p4 p{
	float: left;
}
.p4 p.light{
	width: 25px;
	height: 25px;
	background: url("../images/lightcolor.jpg") no-repeat;
}
.p4 p.light2{ background-position: -25px top;}
.p4 p.light3{ background-position: -50px top;}
.p4 p.light4{ background-position: -75px top; }
.p4 p.light5{ background-position: -100px top;}


.w240{
	width: 240px;
}
.w240 .wxbgtop{
	width: 240px;
	height: 34px;
	background: url("../images/wxbgtop.jpg");
	position: relative;
}
.w240 .wxbgtop a{
	display: block;
	width: 50px;
	height: 25px;
	position: absolute;
	right: 8px;
	top: 7px;
    text-decoration: none;
}
.w240 .wxbgcen{
	width: 238px;
	border: 1px solid #e0e0e0;
	border-top: 0px;
}
.wxbgcen .bgtj{
	padding: 5px;
        background: url(../images/wxbg-top.jpg) no-repeat 0 0;
	border-bottom: 1px dashed #d1d1d1;
}
.wxbgcen .bgtj p{
	line-height: 22px;
	font-weight: bold;
	color: #838383;
	padding-left: 10px;
}
.fttj {
    height: 175px;
    padding:17px 17px 10px 17px;
}
.fttj a {
    color: #f00;
}
.wxbgbtm {
    width: 234px;
    height: 32px;
    padding-left: 4px;
    background: url(../images/wxbg.jpg) no-repeat 0 0;
}
.wxbgbtm a {
    display: block;
    width: 46px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
}
.person{
	width: 730px;
	height: 52px;
	background: url("../images/person.jpg") no-repeat;
	margin-top: 15px;
	position: relative;
}
.person p{
	float:left;
	width: 110px;
	height: 52px;
	line-height: 52px;
	margin-left: 1px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.person p.per3{
	width: 195px;
	color: #e31718;
}
.person p a{
	font-weight: bold;
	font-size: 14px;
}
.person p.per2 a{
	color: #193dab;
}
.person p.per1 a{
	color: #4f4f4f;
}
.person .psoso{
	width: 195px;
	height: 30px;
	position: absolute;
        overflow: hidden;
	right: 18px;
	top: 13px;
}
.person .thread-search {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 16px;
    margin-left: 22px;
}
.psoso .pkey{
	width: 151px;
	height: 28px;
	border: 0px;
        line-height: 28px;
	padding:0 4px;
	background: transparent;
        float: left;
}
.psoso .psub{
        float: left;
	width: 30px;
	height: 30px;
	background: transparent;
	border: 0px;
	cursor: pointer;
}
.msad{
	padding: 20px 0 10px 0;
}
.wxsycen{
	width: 998px;
	border: 1px solid #DADDDD;
}
.asktop2{
	padding: 20px 0 0 25px;
}
.bmlogos{
	padding-bottom: 20px;
    height:350px;
    overflow: auto;
}
.bmlogos ul,.bmlogos ul li{
	list-style: none;
}
.bmlogos ul li{
	display: inline;
	float: left;
	width: 96px;
	height: 145px;
	margin-left: 25px;
	margin-top: 20px;
	
}
.bmlogos ul li .piclogo,
.bmlogos ul li .pic{
	width: 80px;
	height: 80px;
	padding:7px;
	border: 1px solid #ccc;
}
.bmlogos ul li .bmdesc,
.bmlogos ul li .parttitle{
	text-align: center;
	height: 24px;
	line-height: 24px;
	color: #0d2aa0;
	font-weight: bold;
        display: block;
}
.bmlogos ul li span {
    display: inline-block;
    margin-right: 3px;
}
.ask_2,.ask_3{
	display: none;
}
.ask_2 ul li{
	width: 180px;
	height: 155px;
	margin-left: 16px;
	margin-top: 20px;
}
.ask_2 ul li .piclogo{
	width: 168px;
	height: 94px;
	padding:5px;
	border: 1px solid #ccc;
}
.bmask{
	text-align: center;
}
.newsdiv{
	padding: 10px 20px;
}
.h5{
	height:25px;
	line-height:25px;
	background: url("../images/xwtubiao.jpg") left top no-repeat;
	padding-left: 30px;
	padding-bottom: 5px;
	border-bottom: 4px solid #c4c4c4;
}
.h5 span,.h5 a{
	display: block;
}
.h5 span{
	float: left;
	font-size: 14px;
}
.h5 a{
	float: right;
	font-weight: normal;
	font-family: '宋体';
	font-size: 12px;
	padding-right: 5px;
}
.xwcon{
	clear: both;
	padding-top: 15px;
	padding-bottom: 25px;
}
.xwcon .cleft{
	float: left;
	padding-left: 5px;
}
.xwcon .talks{
	width:338px;
	height:308px;
	padding:4px;
	background: #dedde0; 
	overflow: hidden;
}
.talks .talkcon{
	width: 336px;
	height: 306px;
	padding: 1px;
	background: #fff;
}
.talkcon .tpic{
	width: 336px;
	height: 220px;
	overflow: hidden;
}
.talkcon p{
	height: 20px;
	line-height: 20px;
	font-weight:bold;
	padding-left:10px;
	font-size: 14px;
	font-family: '宋体';
}
.talkcon p.tp1{
	color: #b72222;
	padding-top: 10px;
}
.talkcon p.tp2{
	color: #424242;
}
.xwcon .cright{
	float: right;
	width: 575px;
}
.cright ul,.cright ul li{
	list-style: none;
}
.cright ul li{
	display:list-item;
	clear: both;
	height:30px;
	line-height:30px;
	background: url("../images/movie.jpg") left center no-repeat;
	padding-left: 30px;
	
	border-bottom: 1px dashed #c6c6c6; 
}
.cright ul li a,.cright ul li span{
	display: block;
	float: left;
	font-size: 14px;
}
.cright ul li span{
	float: right;
}

.moreLink {
    color:#999999;
    font-size:12px;
}

.showno {
    height: 210px;
    overflow:hidden;
}


.hotlink {
    text-decoration: none;
    height:50px;
    display: block;
    text-indent: -1000em;
    margin: 5px 0;
}
.hotlink:hover {
    text-decoration: none;
}
.secright .bncdsy .hot-1 {
    background: url(../images/helpsound-1.jpg) no-repeat 0 0;
}
.secright .bncdsy .hot-2 {
    background: url(../images/helpsound-2.jpg) no-repeat 0 0;
}
.secright .bncdsy .hot-3 {
    background: url(../images/helpsound-3.jpg) no-repeat 0 0;
}
.secright .bncdsy .hot-4 {
    background: url(../images/helpsound-4.jpg) no-repeat 0 0;
}
.secright .bncdsy .hot-5 {
    background: url(../images/helpsound-5.jpg) no-repeat 0 0;
}
.secright .bncdsy .hot-6 {
    background: url(../images/helpsound-6.jpg) no-repeat 0 0;
}


.guide {
    background:url(/images/asklc.jpg) no-repeat ;
    width:146px;
    height:80px;
    display: block;
    float: left;
    text-indent: -1000em;
}

.guide1 {
    background-position: 0 0;
}

.guide2 {
    background-position: -146px 0px;
}

.guide3 {
    background-position: -292px 0px;
}

.guide4 {
    background-position: -438px 0px;
}

.guide5 {
    background-position: -584px 0px;
}

/* 自定义 */
.subbm-item {
	padding-bottom: 10px;
}

.subbm-item .subtitle {
	font-size:14px;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	background-color: #52a0e5;
}
.dmain .nleft{
	float: left;
        padding: 5px 0 0 20px;
}
.dmain .nright{
	float: right;
	width: 670px;
}
.weidesc {
    width: 282px;
    line-height: 24px;
    margin-bottom: 20px;
}
.weidesc .desctitle {
    color: #026dcf;
    padding: 10px 0 5px 0;
    font-weight: bold;
}
.weidesc .desc {
    text-indent: 20px;
}
.weititle {
    width: 962px;
    margin: 10px auto;
    padding: 2px 0 0 38px;
    height: 28px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    background: url(../images/weibo/weibo.png) no-repeat 0 0;
}
.weilogotab {
    width: 100%;
    height: 30px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d6d6d6;
    margin: 15px 0 10px 0;
}
.weilogotab ul li {
    width: 212px;
    height: 30px;
    float: left;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    background: url(../images/weibo/tab-bg.jpg) no-repeat 0 0;
    list-style: none;
    cursor: pointer;
}
.weilogotab ul li:hover,
.weilogotab .active {
    color: #fff;
    background: url(../images/weibo/tab-active-bg.jpg) no-repeat 0 0;
}
.weilogos li {
    float: left;
    width: 145px;
    height: 56px;
    padding: 8px;
    margin: 0px 3px 10px 3px;
    background: #f3f3f3;
    list-style: none;
}
.weilogos li .pic {
    width: 50px;
    height: 50px;
    float: left;
    border: 2px solid #fff;
    margin-top: 2px;
}
.weilogos li .pic img {
    width: 50px;
    height: 50px;
}
.weilogos li .info {
    width: 80px;
    float: left;
    padding-left: 7px;
}
.weilogos li .info span {
    display: block;
}
.weilogos li .info .parttitle,
.weilogos li .info .partnum label
{
    color: #0376b7;
    padding-right: 5px;
}
.weilogos li .info .parttitle {
    font-weight: bold;
    margin-bottom: 2px;
}
.talkcon p {
    padding: 2px 6px;
    font-size: 12px;
}
.talkcon p.tp1 a{
    color: #b72222;
    font-size:14px;
}
.view-idx .module {
    border: 3px solid #dedde0;
    font-size: 12px;
    overflow: hidden;
}
.view-idx .xld dt a {
    color: #b72222;
}
.view-idx .xld .m {
    margin: 1px;
}
.view-idx .xld dt {
    padding: 5px;
}
.view-idx .xld dd {
    margin: 0 5px 5px 5px;
}

/* forum css */

.thread-tabs {
    width: 1000px;
    height: 30px;
    margin: 10px 0 0 0;
    border-bottom: 3px solid #5a97c8;
    overflow: hidden;
}
.thread-tabs ul li {
    display: block;
    float: left;
    height: 30px;
    text-align: left;
    display: inline;
    font-size: 14px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}
.thread-tabs ul li.tab-24, .icon-24 {
    background: url(../images/light_warn.gif) no-repeat left center;
}
.thread-tabs ul li.tab-3days,.icon-3days {
    background: url(../images/light_green.gif) no-repeat left center;
}
.thread-tabs ul li.tab-5days,.icon-5days {
    background: url(../images/light_yellow.gif) no-repeat left center;
}
.thread-tabs ul li.tab-5daysover,.icon-5daysover {
    background: url(../images/light_gray.gif) no-repeat left center;
}
.thread-tabs ul li.tab-overtime,.icon-overtime {
    background: url(../images/light_red.gif) no-repeat left center;
}
.thread-tabs ul li.active {
    background-color: #F2F2F2;
}
.thread-tabs ul li a {
    display:block;
    line-height: 30px;
    height: 30px;
    padding: 0 15px;
}
.thread-tabs ul li.tab-all a {
    width: 105px;
    margin-left:0px;
}
.thread-tabs ul li.active a {
    line-height: 27px;
    font-weight: bold;
}
.thread-tabs ul li a:hover {
    background-color: #F2F2F2;
    text-decoration: none;
}
.user-profile {
    padding-left:15px;
}
.thread-list-wrapper {
    border: 1px solid #CDCDCD;
}
.thread-list-wrapper table {
    width: 100%;
}
.thread-list-wrapper table th,
.thread-list-wrapper table td{
    margin-top: 1px;
    padding: 0 10px;
    line-height: 36px;
    border-bottom: 1px solid #CDCDCD;
    background: #F2F2F2;
    vertical-align: baseline; 
}
.thread-list-wrapper table td.thread-title a {
    font-size: 14px;
}
.thread-list-wrapper table td.hover-active{
    background: #F2F2F2;
}
.thread-list-wrapper table td {
    background: #fff;
    border-bottom: 1px solid #C2D5E3;
}
.article-info {
    text-align: center;
    margin-top: 10px;
}
.btm-btn {
    position: relative;
}
.btm-btn .bdsharebuttonbox {
    width: 300px;
}
.btm-btn .right {
    position: absolute;
    right:0;
    top:5px;
}
.search_submit {
    width: 30px;
    float: left;
    overflow: hidden;
}
.search_submit button {
    background: url(../images/search.png) 50% 50% no-repeat #fff;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-indent: -999px;
}
.soso .search_ipt {
    float:left;
    width: 196px;
    height: 32px;
}
.soso input {
    display: inline-block;
    border: 0px;
    height: 30px;
    width: 194px;
    line-height: 28px;
    border: 1px solid #B0B0B0;
    color: #999999;
}
.plist {
    margin-top: 10px
}
.plist ul li {
    list-style: none;
    padding: 10px 0px 10px 0;
    margin-left: 25px;
    border-bottom:  1px dashed #B7B7B7;
}
.plist .first-letter {
    background: url(../images/bmzz.jpg) no-repeat 0 0;
    display: inline-block;
    width: 48px;
    height: 51px;
    text-align: center;
    line-height: 47px;
    color: #B40000;
    font-size: 30px;
    font-family: Microsoft YaHei,Verdana,sans-serif,SimSun; 
}
.plist ul li a {
    padding: 5px;
}