html {
    font-size:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,button,textarea,p,blockquote,iframe,table,th,td,article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
	margin:0;
	padding:0;
	outline-style:none;
	font-family:"Microsoft YaHei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.clearfix:before,
.clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }
.clearfix { *zoom: 1;clear:both }


.fll{
	float: left;
}
.frr{
	float: right;
}
.clr{
	clear: both;
}
img{border: 0}
a{
	text-decoration: none;
}
.clr{
	clear: both;
}


button {
    cursor: pointer;
}

body {
    background:#fff url("../images/v3/top_bg2.jpg") no-repeat 50% 0 !important;
}


.outter_wrap , .header {
    width: 1120px;
	margin: 0 auto;
}


.header{
	height: 31px;
	line-height: 31px;
	color: #474747;
}
.header .fr{
	padding-right: 10px;
}
.header .fl{
	padding-left: 10px;
}

.dlogo {
    height:210px;
}

/*
.toplogo {
    height:284px;
    position:relative;
    background:url("../images/v3/cixi.png") no-repeat 50% 50%;
}

.sitelogo {
    width:200px;
    height:88px;
    position:absolute;
    top:90px;
    left:50px;
    background:url("../images/v3/site_logo.png") no-repeat 50% 50%;
}

.sitetxt {
    width:459px;
    height:74px;
    position:absolute;
    top: 104px;
    left: 494px;
    background:url("../images/v3/site_text.png") no-repeat 50% 50%;
}
*/

.menu {
    background:#0068b7;
    position: relative;
}

.menu .nav li {
    float:left;
    display:block;
}

.menu .nav li a {
    display:block;
    float:left;
    color:#fff;
    font-size:16px;
    height:40px;
    line-height:40px;
    padding: 10px 20px;
    text-align: center;
}

.menu .nav li a:hover {
    background:#0c457c;
    text-decoration:none;
}

.soso {
    position:relative;
    right: 55px;
    top: 16px;
    background:url("../images/v3/search_input.png") left top;
    width: 160px;
    height: 27px;
}

.soso input {
    border: 0px;
}

.search_btn {
    border:0px;
    background:url("../images/v3/search_btn.png") left top;
    width:27px;
    height:27px;
    display:block;
    position:absolute;
    right:-30px;
    top:0px;
}



#scform_srchtxt {
    position:relative;
    left:10px;
    top:4px;
}
.search_submit {
    width: 30px;
    height: 30px;
    position: relative;
}

.moreLink {
	position:absolute;
	right:0px;
	top:0px;
	/*
	float:right;
	margin: -15px 15px 0 0 ;*/
	width:16px;
	height:16px;
	display:block;
	background:url("../images/v3/see_more.png") no-repeat left top;
}


.subpage {
	position:relative;
	height:130px;
	border-bottom:4px solid #0c457c;
}

.subpage .menu {
	position:absolute;
	right:0px;
	bottom:0px;
	background:none;
}

.subpage .menu .nav li a {
	color:#0c457c;
	padding:5px 20px;
}

.subpage .menu .nav li a:hover {
	color:#fff;
}

.subpage .soso {
	top:inherit;
	bottom: -145px;
}

.dsub_nav {
	padding:15px 25px;
	background-color:#e9e9e9;
}



.portal_row1 {
	margin:5px 0 25px;
	position: relative;
	background-color: #e9e9e9;
	height:327px;
}
.portal_row1 .col1 {
	height:327px;
	width: 675px;
}

.portal_row1 .col2 {
	width: 435px;
    height:327px;
}

.portal_row1 .col2 .mlist {
	padding-top:5px;
}

.msecond{
	position:relative;
	margin: 5px 0 10px;
	
}


.mlist{
	padding:15px 0 0 10px;
}
.mlist ul,.mlist ul li{
	list-style: none;
}

.mlist ul li{
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	background: url("../images/v3/dian.jpg") left center no-repeat;
	padding: 0px 20px 0 10px;
}

.mlist ul li.liline{
	background: url("../images/liline.jpg") left center repeat-x;
}
.mlist ul li a,.mlist ul li span{
	font-size:14px;
	color: #115884;
}
.mlist ul li span{
	zoom:1;
	padding-left: 20px;
    float:right;
}


.mfoot{
	height:160px;
	background-color: #e5e5e5;
	margin-top: 30px;
	border-top: 3px solid #0c457c;
}

.mfoot .bqxx{
	width: 1120px;
    margin: 0px auto;
    text-align: center;
    padding: 40px 0 20px 0;
    position: relative;
}

.mfoot .qr {
	width: 96px;
    height: 120px;
    position: absolute;
    right: 0px;
    top: 20px
}

.mfoot .qr img {
	width:100px;
	height:100px;
}


.mfoot .qr span {
	padding: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.mfoot .bqxx .p1{
        font-size: 18px;
        font-weight: bold;
	padding-top: 18px;
        font-family: '微软雅黑';
}
.mfoot .bqxx .p2{
	color: #3e3e3e;
	font-size:14px;
	margin:10px 0;
}


.bmzx_item .selected {
    color: #fff;
	font-weight: bold;
	background-color: #52a0e5;
}

.bmzx{
	height: 38px;
	background: url("../images/bmzx.jpg") repeat-x;
    margin:0 0 10px 0;
}

.bmlist a  , .zjlist a {
	padding:3px 5px;
	font-size: 14px;
	color: #0d2aa0;
	white-space:nowrap;
}


.showstatus{
	border: 1px solid #DADDDD;
	margin-top: 6px;
	text-align: center;
	padding: 10px 0;
}

.showstatus label {
    font-size:15px;
    font-weight:bold;
    padding:0 5px;
}

.working_notify {
    color: red;
    font-size: 14px;
    padding: 5px 0;
}


.inner_wrap {
	border:1px solid #dbdbdb;
	border-width:0px 1px 1px 1px;
	
}
.dmain_v3 {
	padding:23px 25px;
}

.dmain_v3 .first_news {
	background-color:#e9e9e9;
	height:336px;
	margin-bottom:40px;
	
}

.dmain_content .mleft {
	width:680px;
}

.dmain_content .mright {
	width:360px;
}

.page .pg {
	text-align:center;
	float:none !important;
}


/*
.mmskd h2 a{
	font-size: 14px;
	font-weight: normal;
}
*/

.hotline{
	width:550px;
	height:1px;
	margin:0 auto;
	background: url("../images/liline.jpg") left center repeat-x;
}

.mmskd h2{
	font-weight: normal;
	position:relative;
	border-bottom: 1px solid #b1b1b1;
	padding: 5px 0px;
}
.mmskd h2 strong {
	font-size:16px;
	color:#c81f1f;
	
}

.mmskd .moreLink {
	top:2px;
}

.mscon{
	border-bottom: 1px dotted #b4b4b4;
}
.mscon h3, .mscon h3 a{
	text-align: center;
	font-size: 26px;
	color: #e60000;
}

.mscon .module dd{
	color: #0a0a0a;
}

.secleft{
	float: left;
	width: 730px;
	position: relative;
}

.mscons{
	
}

.bktitle {
	position:relative;
	background:url("../images/v3/bar_bg.jpg") repeat-x;
	height:41px;
	border-bottom:2px solid #0c457c;
}

.bktitle h2{
	height:41px;
	color:#fff;
	font-size:16px;
	line-height: 41px;
    text-indent: 14px;
	background:url("../images/v3/main_title.jpg") no-repeat left top;
}

.bktitle h2.lgtext {
    text-indent: 10px;
}

.bktitle .moreLink {
	right:10px;
	top:15px;
}


.bktitle span {
	position:absolute;
	width:4px;
	height:41px;
	display:block;
	right:0px;
	top:0px;
	background:url("../images/v3/roundcn.jpg") no-repeat right top;
}


.mscons .sublist {
    width:358px;
}


.mlisthome {
	
	
}

.mlisthome ul li{
	font-size: 14px;
    line-height: 25px;
    height: 25px;
    padding-left: 15px;
    overflow:hidden;
}
.mlisthome ul li a{
	color: #000;
}


.asklc {
	margin-top:40px;
}


.viewbg{
	width: 253px;
	height: 229px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.viewbg .views{
	width: 253px;
	height: 229px;
	background: url("../images/viewbg.jpg") no-repeat;
}
.secright{
	float: right;
	width:376px;
}

.secright .mybox_long {
	margin: 15px 0;
}

.mmskd {
    padding:5px;
}

.mmskd .xld dt {
    padding:2px 0 3px;
}

.mmskd .xld dd {
    font-weight: normal;
    margin-bottom: 8px;
    font-size: 16px;
}




.askul{
	padding: 0;
}

.askul .askul_item {
	margin : 20px 0;	
}

.askul ul,.askul ul li{
	list-style: none;
}
.askul ul li{
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
    text-align: center;
}
.askul ul li div{
	float: left;
}
.askul ul li div a{
    font-size:14px;
    color: #000;
    overflow: hidden;
    display: inline-block;
     _zoom:1;
     *display:inline;
    height: 32px;
}
.askul ul li div.p1{
	background: url("../images/dian.jpg") left center no-repeat;
	padding-left: 10px;
	width:363px;
        overflow: hidden;
        text-align: left;
}
.askul ul li div.p2{
	width: 120px;
	color: #3f3f3f;
	font-family: Arial;
}
.askul ul li div.p3{
    width: 110px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.askul ul li div.p4{
    width: 94px;
    color: #ff5d00;
    font-size: 14px;
}
.p4 p{
	float: left;
}
.p4 p.light{
	width: 25px;
	height: 25px;
	background: url("../images/lightcolor.jpg") no-repeat;
}
.p4 p.light2{ background-position: -25px top;}
.p4 p.light3{ background-position: -50px top;}
.p4 p.light4{ background-position: -75px top; }
.p4 p.light5{ background-position: -100px top;}

.askul .hp-title {
    background-color: #f1f7fc;
    text-align: center;
}

.askul .hp-title th {
    background-color: #f1f7fc;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    padding:5px;
    text-align:center;
    
}


.askul .hp-title .p1,
.askul .hp-title .p2,
.askul .hp-title .p3,
.askul .hp-title .p4{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    background: url('../images/hp-title-bg.jpg') 0 0 no-repeat;
}
.askul .hp-title .p1 {
    background: none;
    text-align: center;
    width: 376px;
}

.four {
	border:1px solid #dbdbdb;
	border-width: 0px 1px 1px 1px;
}


.four .fayanren {
	height:47px;
	background:#f5f5f5 url(../images/v3/fayanren.jpg) no-repeat 20px center;
	border-top: 4px solid #c30000;
	border-bottom:1px solid #dbdbdb;
}


.person{
	width: 730px;
	height: 52px;
	background: url("../images/person.jpg") no-repeat;
	margin-top: 15px;
	position: relative;
}
.person p{
	float:left;
	width: 110px;
	height: 52px;
	line-height: 52px;
	margin-left: 1px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.person p.per3{
	width: 195px;
	color: #e31718;
}
.person p a{
	font-weight: bold;
	font-size: 14px;
}
.person p.per2 a{
	color: #193dab;
}
.person p.per1 a{
	color: #4f4f4f;
}
.person .psoso{
	width: 195px;
	height: 30px;
	position: absolute;
        overflow: hidden;
	right: 18px;
	top: 13px;
}
.person .thread-search {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 16px;
    margin-left: 22px;
}
.psoso .pkey{
	width: 151px;
	height: 28px;
	border: 0px;
        line-height: 28px;
	padding:0 4px;
	background: transparent;
        float: left;
}
.psoso .psub{
        float: left;
	width: 30px;
	height: 30px;
	background: transparent;
	border: 0px;
	cursor: pointer;
}
.msad{
	padding: 20px 0 10px 0;
}

.asktop2{
	padding: 20px 0 0 25px;
}

.wxsycen {
	position:relative;
}

.bmlogos {
	width:50%;
	margin: 20px 0;
}

.bmlogos .dlist {
	padding: 0 0px 0 20px;
}

.bmlogos ul,.bmlogos ul li{
	list-style: none;
}
.bmlogos ul li{
	display: block;
	float: left;
	width: 107px;
	height: 128px;
	
}
.bmlogos ul li .piclogo,
.bmlogos ul li .pic{
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
	padding:5px;
}


.zjlist ul li .piclogo,
.zjlist ul li .pic {
	display:none;
}



.bmlogos ul li .bmdesc,
.bmlogos ul li .parttitle{
	text-align: center;
	height: 24px;
	line-height: 24px;
	color: #0d2aa0;
	font-weight: bold;
    display: block;
    width: 90px;
}


.zjlist ul li .bmdesc,
.zjlist ul li .parttitle {
	
	width: auto;
    height: 37px;
    line-height: 37px;
}


.zjlist a {
	font-size:16px;
	color:#fff;
}



.zjlist ul li {
	text-align: center;
    height: 37px;
    line-height: 37px;
    color: #ffffff;
    display: block;
    width: 118px;
    background-color: #6fb3e0;
    margin: 0px 16px 15px 0;
}




.bmlogos ul li span {
    display: inline-block;
    margin-right: 3px;
}

.bmlogos h4 {
    color: #c30000;
    margin: 0 20px 15px;
    font-size: 16px;
    background: url("../images/v3/jiantou.jpg") no-repeat left 6px;
    padding: 0 0px 10px 20px;
    border-bottom: 1px solid #0c457c;
}

.zjlist {
	
}

.bmask{
	text-align: center;
	display:none;
}

.newsdiv{
	padding: 10px 20px;
}

.h5{
	height:25px;
	line-height:25px;
	background: url("../images/xwtubiao.jpg") left top no-repeat;
	padding-left: 30px;
	padding-bottom: 5px;
	border-bottom: 4px solid #c4c4c4;
}
.h5 span,.h5 a{
	display: block;
}
.h5 span{
	float: left;
	font-size: 14px;
}
.h5 a{
	float: right;
	font-weight: normal;
	font-family: '宋体';
	font-size: 12px;
	padding-right: 5px;
}

.xwcon{
	clear: both;
	padding-top: 15px;
	padding-bottom: 25px;
}
.xwcon .cleft{
	float: left;
	padding-left: 5px;
}
.xwcon .talks{
	width:338px;
	height:308px;
	padding:4px;
	background: #dedde0; 
	overflow: hidden;
}
.talks .talkcon{
	width: 336px;
	height: 306px;
	padding: 1px;
	background: #fff;
}
.talkcon .tpic{
	width: 336px;
	height: 220px;
	overflow: hidden;
}
.talkcon p{
	height: 20px;
	line-height: 20px;
	font-weight:bold;
	padding-left:10px;
	font-size: 14px;
	font-family: '宋体';
}
.talkcon p.tp1{
	color: #b72222;
	padding-top: 10px;
}
.talkcon p.tp2{
	color: #424242;
}
.xwcon .cright{
	float: right;
	width: 575px;
}
.cright ul,.cright ul li{
	list-style: none;
}
.cright ul li{
	display:list-item;
	clear: both;
	height:30px;
	line-height:30px;
	background: url("../images/movie.jpg") left center no-repeat;
	padding-left: 30px;
	
	border-bottom: 1px dashed #c6c6c6; 
}
.cright ul li a,.cright ul li span{
	display: block;
	float: left;
	font-size: 14px;
}
.cright ul li span{
	float: right;
}

.moreLink {
    color:#999999;
    font-size:12px;
    cursor:pointer;
    text-indent:-1000em;
}

.showno {
    overflow:hidden;
    position:relative;
    padding-left: 15px;
}


.hotlink  {
	background:url(../images/v3/site_links2.jpg) no-repeat left top;
	width:120px;
	height:101px;
	display:block;
	float:left;
	text-decoration: none;
    text-indent: -1000em;
    margin-bottom:20px;
}

.hotlink:hover {
    text-decoration: none;
}

.helpsound .hot-1 {
    background-position:0 0;
}
.helpsound .hot-2 {
    background-position: -120px 0;
}
.helpsound .hot-3 {
    background-position: -240px 0;
}
.helpsound .hot-4 {
    background-position: 0 -120px;
}
.helpsound .hot-5 {
    background-position: -120px -120px;
}
.helpsound .hot-6 {
    background-position: -240px -120px;
}

.homepage {
	padding:0 0 0 30px;
}

.homepage h3 {
  font-size: 16px;
  color: #c30000;
  padding: 0px 0 20px 0;
  line-height: 15px;
}

.homepage .hotlink  {
	background: url(../images/v3/home_site_links.jpg) no-repeat left top;
	  width: 110px;
	  height: 110px;
	  display: block;
	  float: left;
	  text-decoration: none;
	  text-indent: -1000em;
	  margin-bottom: 0;
}

.homepage .helpsound .hot-1 {
    background-position:0 0;
}
.homepage .helpsound .hot-2 {
    background-position: -110px 0;
}
.homepage .helpsound .hot-3 {
    background-position: -220px 0;
}
.homepage .helpsound .hot-4 {
    background-position: 0 -110px;
}
.homepage .helpsound .hot-5 {
    background-position: -110px -110px;
}
.homepage .helpsound .hot-6 {
    background-position: -220px -110px;
}

.dsub_nav .mnav {
	background:url(../images/v3/nav_jt.jpg) no-repeat left center;
	padding-left:20px;
}

.dsub_nav .nav_jt a {
	color:#478fca;
	
}
.dsub_nav .nav_jt .last  {
	color:#d40000;
}

.dsub_nav .small_jt {
	background:url(../images/v3/nav_jt2.jpg) no-repeat left center;
	padding-left:8px;
	color:#c30000;
}


.login_area ul {
	padding:0 0 0 10px;
	margin : 0 0 10px;
}

.login_area li {
	background-color:#f7f7f7;
	border:1px solid #dbdbdb;
	width:175px;
	padding:10px 0;
	text-indent:20px;
}

.login_area li a {
	color:#cd3331;
	font-size:16px;
}

.login_area li.col1 {
	float:left;
}

.login_area li.col1 {
	float:right;
}

.login_area .username {
    position:absolute;
    left:60px;
    top:30px;
}

.login_area .username {
    position:absolute;
    left:60px;
    top:30px;
}


.mybox .box_top {
	background:url(../images/v3/box_top.jpg) no-repeat right top;
	height:19px;
}
.mybox .box_top2 {
	1position:relative;
	background:url(../images/v3/box_top2.jpg) no-repeat  right top;
}
.mybox .box_middle {
	background:url(../images/v3/box_bg.jpg) repeat-y;
}

.mybox .box_bottom {
	background:url(../images/v3/box_bottom.jpg) repeat-y;
	height:13px;
}

.mybox_long .box_top {
	background:url(../images/v3/long_top.jpg) no-repeat  right top;
	height:15px;
}

.mybox_long .box_top2 {
	background:url(../images/v3/long_top2.jpg) no-repeat right top;
	height:21px;
}

.mybox_long .box_middle {
	background:url(../images/v3/long_bg.jpg) repeat-y;
}

.mybox_long .box_bottom {
	background:url(../images/v3/long_bottom.jpg) repeat-y;
	height:12px;
}

.mybox_long .box_top2 h3 {
	text-indent:30px;
}

.mybox_long .timg {
	padding:10px 0 10px 30px;
}


.mybox_long .module {
	padding:10px 20px 10px 30px;
	
}

.mybox_long .module ul {
    border-bottom:1px dotted #c5c5c5;
}

.mybox_long .module li {
	background:url(../images/v3/rect.jpg) no-repeat left center;
	padding-left:20px;
	border-top:1px dotted #c5c5c5;
	height: 30px;
    line-height: 30px;
}

.mybox_long .gzph li {
    background:none;
    padding-left:0;
}
.mybox_long .gzph li span {
    width: 20px;
  background: url(../images/v3/num_bg.jpg) no-repeat center center;
  font-size: 10px;
  margin: 0 10px 0 0;
  height: 15px;
  color: #fff;
  text-align: center;
  float: left;
  display: block;
  height: 30px;
}

.mybox .news_tj {
	padding:20px 0 20px 38px;
	font-size:14px;
	
}

.box_top2 {
    position:relative;
    display:block;
}

.box_top2 h3 {
	font-size:16px;
	color:#c30000;
	text-indent: 40px;
    line-height: 15px;
}


.box_top2 .moreLink {
	right: 20px;
    top: 0px;
}

.news_tj dt {
	padding:5px 0;
	margin: 10px 0;
}
.news_tj dt a {
	color:#0c457c;
	
}

.news_tj dt a:hover,  .cjwt .mlist ul li a:hover {
	color:#c40000;
}

.news_tj dd {
	color:#5d5d5d;
	text-indent:2em;
}

.news_tj .m {
	text-indent:0;
}


.news_tj .xld .m {
	float:none;
	margin:0;
}

.news_tj .xld dd {
	width:285px;
}

/** 常见问题 */
.cjwt {
	margin: 40px 0;
}

.cjwt .mlist {
	width:290px;
	margin:0 auto;
	overflow: hidden;
}

.cjwt .mlist ul li {
	background:url("../images/v3/rect.jpg") left center no-repeat;
	padding-left:15px;
}

.cjwt .mlist ul li a {
	color:#5d5d5d;
	white-space: nowrap;
}

.bgtj {
    height:60px;
    position:relative;
}

.bgtj div {
    position:absolute;
    font-size:14px;
}

.bgtj .row11 {
   left: 35px;
  top: 10px
}

.bgtj .row12 {
   left: 195px;
  top: 10px
}

.bgtj .row21 {
   left: 35px;
  top: 40px;
}

.bgtj .row22 {
   left: 195px;
  top: 40px;
}

.bgtj .forum-num {
    color:#11619e;
}



.guide {
    background:url(../images/v3/5icon.jpg) no-repeat ;
    width:146px;
    height:138px;
    display: block;
    float: left;
    text-indent: -1000em;
}

.guide1 {
    background-position: 0 0;
}

.guide2 {
    background-position: -147px 0px;
}

.guide3 {
    background-position: -294px 0px;
}

.guide4 {
    background-position: -440px 0px;
}

.guide5 {
    background-position: -586px 0px;
}

/* 自定义 */
.subbm-item {
	padding-bottom: 10px;
}

.subbm-item .subtitle {
	font-size:14px;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	background-color: #52a0e5;
}
.dmain .nleft{
	float: left;
        padding: 5px 0 0 20px;
}
.dmain .nright{
	float: right;
	width: 670px;
}


.kdxx {
	padding:25px 120px;
}

.kdxx .title {
	text-align:center;
	font-size:20px;
	border-bottom:1px solid #dcdcdc;
	padding:0 0 10px 0;
}

#abstract-wrapper {
	width:580px;
	padding:10px 20px;
	margin:20px auto;
	color:#464646;
	border:1px solid #e3e2e2;
}

#context-wrapper {
	text-indent:2em;
    border-bottom: 1px solid #e3e2e2;
    margin: 0 0 25px 0;
    padding: 0 0 10px 0;
}


.video_news {
}

.video_news .video_item {
	width:343px;
	float:left;
}

.video_news .video_bd {
    border: 1px solid #dddddd;
    border-width:0 1px 0 1px;  
}


.video_item .video_bg_top {
    background:url(../images/v3/xinwen_video_t_bg.jpg) no-repeat left top;
    height:5px;
}

.video_item .video_bg_bottom {
    background:url(../images/v3/xinwen_video_b_bg.jpg) no-repeat left top;
    height:5px;
}

.video_bd .video_desc {
    position:relative;
    background:url(../images/v3/xin_video_desc.jpg) no-repeat left top;
    height:258px;
}

.video_bd .video_content {
    width:334px;
    margin:0 auto;	
}

.video_content .video_title, .video_content .video_date , .video_content .video_author , .video_content .video_summary , .video_content .more_link {
    display:block;
    position:absolute;
    left:95px;
    width:235px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.video_content .video_title {
	top:10px;
	color:#0e86ca;
	height: 40px;
    font-size: 14px;
}

.video_content .video_date {
    top:67px;
}

.video_content .video_author {
	top:105px;
	height:20px;
}

.video_content .video_summary {
	top: 142px;
	text-indent: 2em;
    height: 70px;
}

.video_content .more_link {
	bottom: 8px;
	left: 220px;
	color: #0c457c;
	font-size: 14px;
}

.xwfbh {
    margin: 0 0 60px 0;
}

#xwfbh {
    
}

#xwfbg_2 {
	position:relative;
	left:20px;
}

#msmdm {
	right: -40px;
	position: relative;
}


.jplist .module {
    padding:0 20px 0 40px;
}

.jplist .module dl {
    border-bottom: 1px dashed #cccccc;
    padding: 5px 0;
}

.jplist .module .item_1 {
	border-top: 1px dashed #cccccc;
}

.jplist .module .m {
    border: 3px solid #eaeaea;
    padding: 2px;
}

.jplist .box_middle {
    padding: 20px 0;	
}


.video_article {
    position:absolute;
    right:-10px;
    top:0px;
    width:360px;
    
}

.video_article li {
    border:1px solid #e3e3e3;
    background-color:#f5f5f5;
    padding:15px;
    margin:0 0 10px 0;
    text-indent:5em;
    font-size:14px;
    
}

.dmain_v3 .video_article {
    border-bottom:0 !important;	
}

.video_article .video_zt {
    background:url(../images/v3/video_zt.jpg) no-repeat left 12px;
}

.video_article .video_sj {
    background:url(../images/v3/video_sj.jpg) no-repeat left 12px;
}

.video_article .video_jb {
    background:url(../images/v3/video_jb.jpg) no-repeat left 12px;
}

.video_article .video_jj {
    background:url(../images/v3/video_jj.jpg) no-repeat left 12px;
}


.dmain_v3 .bm_c { padding: 5px; }

.video_article_c {
}


.weidesc {
    width: 282px;
    line-height: 24px;
    margin-bottom: 20px;
}
.weidesc .desctitle {
    color: #026dcf;
    padding: 10px 0 5px 0;
    font-weight: bold;
}
.weidesc .desc {
    text-indent: 20px;
}
.weititle {
    width: 962px;
    margin: 10px auto;
    padding: 2px 0 0 38px;
    height: 28px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    background: url(../images/weibo/weibo.png) no-repeat 0 0;
}
.weilogotab {
    width: 100%;
    height: 30px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d6d6d6;
    margin: 15px 0 10px 0;
}
.weilogotab ul li {
    width: 212px;
    height: 30px;
    float: left;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    background: url(../images/weibo/tab-bg.jpg) no-repeat 0 0;
    list-style: none;
    cursor: pointer;
}
.weilogotab ul li:hover,
.weilogotab .active {
    color: #fff;
    background: url(../images/weibo/tab-active-bg.jpg) no-repeat 0 0;
}
.weilogos li {
    float: left;
    width: 145px;
    height: 56px;
    padding: 8px;
    margin: 0px 3px 10px 3px;
    background: #f3f3f3;
    list-style: none;
}
.weilogos li .pic {
    width: 50px;
    height: 50px;
    float: left;
    border: 2px solid #fff;
    margin-top: 2px;
}
.weilogos li .pic img {
    width: 50px;
    height: 50px;
}
.weilogos li .info {
    width: 80px;
    float: left;
    padding-left: 7px;
}
.weilogos li .info span {
    display: block;
}
.weilogos li .info .parttitle,
.weilogos li .info .partnum label
{
    color: #0376b7;
    padding-right: 5px;
}
.weilogos li .info .parttitle {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
    margin-top: 20px;
}
.talkcon p {
    padding: 2px 6px;
    font-size: 12px;
}
.talkcon p.tp1 a{
    color: #b72222;
    font-size:14px;
}
.view-idx .module {
    border: 3px solid #dedde0;
    font-size: 12px;
    overflow: hidden;
}
.view-idx .xld dt a {
    color: #b72222;
}
.view-idx .xld .m {
    margin: 1px;
}
.view-idx .xld dt {
    padding: 5px;
}
.view-idx .xld dd {
    margin: 0 5px 5px 5px;
}

/* forum css */

.thread-tabs {
    
    height: 30px;
    margin: 10px 0 0 0;
    border-bottom: 3px solid #5a97c8;
    overflow: hidden;
}

.thread-tabs ul li {
    display: inline-block;
    float: left;
    height: 30px;
    text-align: left;
    _zoom:1;
    *display:inline;
    *width: 75px;
    font-size: 14px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}

.thread-tabs ul li.active {
    background-color: #F2F2F2;
}
.thread-tabs ul li a {
    display:block;
    line-height: 30px;
    height: 30px;
    padding: 0 15px;
}
.thread-tabs ul li.tab-all a {
    width: 105px;
    margin-left:0px;
}
.thread-tabs ul li.active a {
    line-height: 27px;
    font-weight: bold;
}
.thread-tabs ul li a:hover {
    background-color: #F2F2F2;
    text-decoration: none;
}
.user-profile {
    padding-left:15px;
}
.thread-list-wrapper {
    border: 1px solid #CDCDCD;
}
.thread-list-wrapper table {
    width: 100%;
}
.thread-list-wrapper table th,
.thread-list-wrapper table td{
    margin-top: 1px;
    padding: 0 10px;
    line-height: 36px;
    border-bottom: 1px solid #CDCDCD;
    background: #F2F2F2;
    vertical-align: baseline; 
}
.thread-list-wrapper table td.thread-title a {
    font-size: 14px;
}
.thread-list-wrapper table td.hover-active{
    background: #F2F2F2;
}
.thread-list-wrapper table td {
    background: #fff;
    border-bottom: 1px solid #C2D5E3;
}
.article-info {
    text-align: center;
    margin-top: 10px;
}

.light-ico {
    position:relative;
    top:8px;
    width:28px;
    height:28px;
}
.icon-24 , .with-icon-24 {
    background: url(../images/light_warn.gif) no-repeat center center;
    cursor:pointer;
}
.icon-3days {
    background: url(../images/light_green.gif) no-repeat center center;
    cursor:pointer;
}
.icon-3days.with-icon-24 {
    background: url(../images/twolight.png) no-repeat 0 -3px;
}

.icon-5days {
    background: url(../images/light_yellow.gif) no-repeat center center;
    cursor:pointer;
}
.icon-5days.with-icon-24 {
    background: url(../images/twolight.png) no-repeat 0 -37px;
}

.icon-5daysover {
    background: url(../images/light_gray.gif) no-repeat center center;
    cursor:pointer;
}

.icon-5daysover.with-icon-24 {
    background: url(../images/twolight.png) no-repeat 0 -77px;
}

.icon-overtime {
    background: url(../images/light_red.gif) no-repeat center center;
    cursor:pointer;
}

.icon-overtime.with-icon-24 {
    background: url(../images/twolight.png) no-repeat 0 -117px;
}

.btm-btn {
    position: relative;
}
.btm-btn .bdsharebuttonbox {
    width: 300px;
}
.btm-btn .right {
    position: absolute;
    right:0;
    top:5px;
}

.plist {
    margin-top: 10px;
    padding-left: 20px;
}

.plist ul li {
    list-style:none;
    position:relative;
    padding: 0 0 0 10px;
    background:url("../images/v3/dian.jpg") no-repeat left center;
    margin: 15px 0px;
    
}

.plist ul li.sepline {
	height:1px;
	border-top:1px dotted #b2b2b2;
	background:none;
	margin:20px 0;
}

.plist .news_date {
	position:absolute;
	right:10px;
	top:0px;
	color:#5d5d5d;
}


.plist ul li a {
    font-size: 14px;
    overflow: hidden;
    display: block;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#5d5d5d;
    
}

.plist ul li a:hover {
	color:#c40000;
}


.zwxx .alink {
	background:url(../images/v3/gray_dian.jpg) no-repeat left center;
	padding:20px;
}

.zwxx .xs3 {
	padding:10px 0 20px 0;
}

.zwxx_item {
	padding:5px;
	
}



.zwxx_item .cl {
	padding:0 20px;
}

.zwxx_item .ft {
	padding:20px;
	border-bottom:1px dotted #b2b2b2;
}


.report li {
    padding-top: 0px;
    margin-bottom: 15px;
}
.tl .ths, .ths {
    width:45px;
    padding:0px;
    
}
.ths div {
    width:28px;
    height:28px;
}

.sort_wait_accept {
    color:#000000;
}

.sort_accept {
    color:#009000;
}

.sort_replied {
    color:#FF0000;
}

.grade_define {
    border: 1px solid #C2D5E3;
    margin-bottom: 10px;    
}
.grade_inner {
    width: 100%;
    height: 60px;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
}
.grade_inner .grade_forum {
    width: 470px;
    line-height: 60px;
    margin-left: 15px;
    float: left;
    font-size: 20px;
}
.grade_inner .grade_forum a {
    font-size: 20px;
    font-weight: bold;
}
.grade_inner .grade_info {
    float: right;
    margin-right: 15px;
    font-size: 20px;
}
.grade_info img {
    vertical-align: middle;
}
.grade_info .grade_btn {
    display: inline-block;
    margin-right: 3px;
    padding-right: 4px;
    padding-left: 8px;
    line-height: 22px;
    background-color: #eff4fb;
    cursor: pointer;
    border: 1px solid #C2D5E3;
}

.shouli {
    color:#FF0000;
}

.threadstatus {
    display:inline-block;
    width:28px;
    height:28px;
    position:relative;
    top:6px;
    cursor:pointer;
}

.govreply {
    color:#0549af;
    font-size: 14px;
    font-weight:bold;
    margin: 0 0 10px 0;
        
}
.sendsuccess {
    color:#009000;
}
.sendfailed {
    color:red;
}

.block-thread-search {
    height: 40px;
    background: #f2f1f1 url(../images/search_icon.jpg) no-repeat left center;
    position:relative;
    padding: 10px 0;
}

.block-thread-search .wyw {
    position:absolute;
    right:20px;
    top:15px;
}

.block-thread-search label {float:left;}

.block-thread-search .input1 {
    width: 315px;
    height: 34px;
    line-height: 24px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 14px;
}


.slides {
	display: none
}

.slides .slidesjs-navigation {

}

.slides .slidesjs-previous {
	
  
  top: 0;
  left: 0;
  
  
}

.slides .slidesjs-next {
	top: 0;
  left: 600px;
  
}

.slides .slidesjs-play ,
.slides .slidesjs-stop {
    display:none;
  }
    

.slidesjs-pagination {
	margin:-25px 60px 0;
    float: right;
    list-style: none;
    position: relative;
    z-index: 20;
}

.slidesjs-pagination li {
	float: left;
	margin: 0 1px;
}

.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(../images/v3/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
	background-position: 0 -26px
}

.slidesjs-pagination li a:hover {
	background-position: 0 -13px
}

.slides a:link,
.slides a:visited {
	color: #333
}

.slides a:hover,
.slides a:active {
	color: #9e2020
}

.navbar {
	overflow: hidden
}

#home_slides .atitle {
	display:block;
	position:absolute;
	height:32px;
	bottom:0;
	left:0;
	width:100%;
	color:white;
	*zoom:1;
	font-size:16px;
	background-color: #000000;
	background:rgba(0,0,0,0.6);  
    background:#000 9;/*CSS Hack,只能对ie9以下浏览器ie6,ie7,ie8有效，否侧ie10,FF,Cherome会失去透明效果*/  
	text-indent:20px;
	padding:5px 0 0 0;
}

#home_slides .swiper-pagination {
    left:auto;
    right:0;
    width:auto;
}



#slides_1 dl {
	position:absolute;
	right:0;
	top:0;
	width:342px;
	height:300px;
	overflow: hidden;
}

#slides_1 dd h4 {
	color:#c30000;
	font-size:16px;
	padding: 20px 0 0 35px;
}

#slides_1 dt {
	color:#014886;
	font-size:14px;
	padding: 20px;
    text-indent: 2em;
}