<!--{template common/header}-->
    <div id="navbox">
        <a href="m.php?mobile=yes" class="current"  target="_self">首页</a>|<a href="forum.php?mobile=yes" target="_self">问效</a>|<a href="#mskd" target="_self">民生快递</a>
    </div>

    <div id="slidebox">
        <div class="notice">
            <div class="nt_name">
                <span>便民公告</span><span>天气预报</span>
            </div>
            <div class="nt_conts">
                <p class="show">今天阴有阵雨，部分地区雨量中等，下午转阴到多云。东南风4～5级。今天最高气温21～23℃，明天最低气温15～17℃。</p>
            </div>
        </div>
        <div class="bar" id="slideBar">
            <div class="tempWrap" style="overflow:hidden; position:relative;"><div class="container" style="width: 3200px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition: 300ms; -webkit-transition: 300ms; -webkit-transform: translate(-1280px, 0px) translateZ(0px);">
                    <a href="#" style="display: table-cell; vertical-align: top; width: 640px;"><img src="images/mobile/tmp_01.jpg" alt=""></a><a href="#" style="display: table-cell; vertical-align: top; width: 640px;"><img src="images/mobile/tmp_01.jpg" alt=""></a>
                    <a href="#" style="display: table-cell; vertical-align: top; width: 640px;"><img src="images/mobile/tmp_01.jpg" alt=""></a>
                    <a href="#" style="display: table-cell; vertical-align: top; width: 640px;"><img src="images/mobile/tmp_01.jpg" alt=""></a>
                    <a href="#" style="display: table-cell; vertical-align: top; width: 640px;"><img src="images/mobile/tmp_01.jpg" alt=""></a></div></div>
            <ul class="pager"><li class="">1</li><li class="navOn">2</li><li class="">3</li></ul>
        </div>
    </div>

	<!--hot_start-->
    <div id="topicbox">
        <div class="t_online"><a href="forum.php?mobile=yes">{$bm_count}个部门在线值守</a></div>
        
        <div class="t_tab slideTab">
            <span class="navOn">手机问效</span><span>部门回复</span><span>综合排名</span>
        </div>
        <div class="t_main slideTopic">
            <div class="topic1">
                <!--{eval $fid = empty($_GET['fid']) ? 2 : $_GET['fid'];}--> 
                <a href="forum.php?mod=post&action=newthread&fid={$fid}" class="msg">马上留言</a>
                <ul class="t1_list clearfix">
                    <!--{loop $askingThreads $val}-->
                    <li>
                        <div class="lt"><img src="/uc_server/avatar.php?uid={$val['authorid']}&size=middle" /><span>{$val['author']}</span></div>
                        <div class="rt">
                            <h6><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" class="town" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}">[{$_G[cache][forums][$val[fid]][name]}]</a><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" class="title">{$val['subject']}</a></h6>
                            <div class="date">发表时间：{$val['dateline']}</div>
                            <div class="clearfix">
                                <span class="status" >状态：<em class="threadstatus {$val['className']}" title="{$val['statusTitle']}" ></em>{$val['show_text']}</span>
                                <span class="reply">回复{$val['views']} | 查看{$val['replies']}</span>
                            </div>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
                <a href="forum.php?mobile=yes" class="more">更多</a>
            </div>

            <div class="topic1">
                <a href="forum.php?mod=post&action=newthread&fid={$fid}" class="msg">马上留言</a>
                <ul class="t1_list clearfix">
                    <!--{loop $answeringThreads $val}-->
                    <li>
                        <div class="lt"><img src="/uc_server/avatar.php?uid={$val['authorid']}&size=middle" /><span>{$val['author']}</span></div>
                        <div class="rt">
                            <h6><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" class="town" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}">[{$_G[cache][forums][$val[fid]][name]}]</a><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" class="title">{$val['subject']}</a></h6>
                            <div class="date">发表时间：{$val['dateline']}</div>
                            <div class="clearfix">
                                <span class="status" >状态：<em class="threadstatus {$val['className']}" title="{$val['statusTitle']}" ></em>{$val['show_text']}</span>
                                <span class="reply">回复{$val['views']} | 查看{$val['replies']}</span>
                            </div>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
                <a href="forum.php?mobile=yes" class="more">更多</a>
            </div>
            <div class="topic3">
                <a href="#" class="msg">马上留言</a>
                <ul class="t3_list clearfix">
                    <li><em class="red">1</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em class="red">2</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em class="red">3</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em>4</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em>5</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em>6</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em>7</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em>8</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em>9</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                    <li><em>10</em><a href="#">【体育局】奥体中心将计划年内开工</a></li>
                </ul>
                <a href="#" class="more">更多</a>
            </div>
        </div>

        <script>
            /*
            $("#sjwxlilist span").bind("click",function(e){
                var index = $(this).index();
                $(this).siblings("li").removeClass("navOn");
                $(this).addClass("navOn");
                $("#sjwx .sublist").hide();
                $("#sjwx .sublist:eq("+ index +")").show();
            });*/
        </script>
    </div>
	<div id="newsbox">
        <div class="n_tab">
            <span>民生快递</span>
        </div>
        <ul class="n_list clearfix">
          <!--{block/9}-->
        </ul>
        <a href="portal.php?mod=list&catid=2&mobile=yes" class="more">更多</a>
    </div>
<script type="text/javascript">
TouchSlide({slideCell:"#slideBar",effect:"leftLoop",titCell:".pager",mainCell:".container",autoPlay:true,autoPage:true,switchLoad:"data-src"});
TouchSlide({slideCell:"#topicbox",effect:"leftLoop",titCell:".slideTab span",mainCell:".slideTopic"});
</script>
<!--{template common/footer}-->

