<!--{template common/header}-->
    <div id="navbox">
        <a href="m.php?mobile=yes" class="current"  target="_self">首页</a>|<a href="m.php?mod=mobile_list&catid=20&mobile=yes" target="_self">政务信息</a>|<a href="forum.php?mobile=yes" target="_self">民生论坛</a>|<a href="m.php?mod=mobile_list&catid=2&mobile=yes" target="_self">民生快递</a>
    </div>

    <div id="slidebox">
        
        <script src="{STATICURL}js/mobile/TouchSlide.1.1.js"></script>
        <div class="bar" id="slideBar">
            <!--{block/28}-->
        </div>
        <script type="text/javascript">
            TouchSlide({slideCell:"#slideBar",effect:"leftLoop",titCell:".pager",mainCell:".container",autoPlay:true,autoPage:true,switchLoad:"data-src"});
            TouchSlide({slideCell:"#topicbox",effect:"leftLoop",titCell:".slideTab span",mainCell:".slideTopic"});
        </script>
    </div>
    <script>
        $(function(){
            $('.notice .nt_name span').each(function(index){
                $(this).click(function(){
                    $('.notice .nt_name span').removeClass('show');
                    $(this).addClass("show");
                    $(".notice .nt_conts").hide();
                    $(".notice .nt_conts:eq(" + index + ")").show();
                });
            });
            
        });
    </script>
    
    <div id="newsbox">
        <div class="n_tab">
            <span>政务信息</span>
        </div>
        
        <ul class="n_list clearfix">
            <!--{loop $zwlist $value}-->
            <li><a href="m.php?mod=mobile_view&aid={$value['aid']}" target="_self">$value[title]</a></li>
            <!--{/loop}-->
        </ul>
        <a href="m.php?mod=mobile_list&catid=20&mobile=yes" class="more">更多</a>
    </div>
    
	<!--hot_start-->
    <div id="topicbox">
        <div class="t_online"><a href="forum.php?mobile=yes">{$bm_count}个部门在线值守</a></div>
        
        <div class="t_tab slideTab">
            <span class="navOn">咨询求助</span><span>投诉举报</span><span>建言献策</span>
        </div>
        <div class="t_main slideTopic">
            <div class="topic_item topic1">
                <!--{eval $fid = empty($_GET['fid']) ? 2 : $_GET['fid'];}--> 
                <a href="forum.php?mod=post&action=newthread&fid={$fid}" class="msg">马上留言</a>
                <ul class="t1_list clearfix">
                    <!--{loop $threadsList[0] $val}-->
                    <li>
                        <div class="lt"><img src="/uc_server/avatar.php?uid={$val['authorid']}&size=middle" /><span>{$val['author']}</span></div>
                        <div class="rt">
                            <h6><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" class="town" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}">[{$_G[cache][forums][$val[fid]][name]}]</a><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" class="title">{$val['subject']}</a></h6>
                            <div class="date">发表时间：{date($val['dateline'],"Y-m-d")}</div>
                            <div class="clearfix">
                                <span class="status" >状态：<em class="threadstatus {$val['className']}" title="{$val['statusTitle']}" ></em>{$val['show_text']}</span>
                                <span class="reply">回复{$val['views']} | 查看{$val['replies']}</span>
                            </div>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
                <a href="forum.php?mobile=yes" class="more">更多</a>
            </div>

            <div class="topic_item topic1" style="display:none;">
                <a href="forum.php?mod=post&action=newthread&fid={$fid}" class="msg">马上留言</a>
                <ul class="t1_list clearfix">
                    <!--{loop $threadsList[1] $val}-->
                    <li>
                        <div class="lt"><img src="/uc_server/avatar.php?uid={$val['authorid']}&size=middle" /><span>{$val['author']}</span></div>
                        <div class="rt">
                            <h6><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" class="town" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}">[{$_G[cache][forums][$val[fid]][name]}]</a><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" class="title">{$val['subject']}</a></h6>
                            <div class="date">发表时间：{date($val['dateline'],"Y-m-d")}</div>
                            <div class="clearfix">
                                <span class="status" >状态：<em class="threadstatus {$val['className']}" title="{$val['statusTitle']}" ></em>{$val['show_text']}</span>
                                <span class="reply">回复{$val['views']} | 查看{$val['replies']}</span>
                            </div>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
                <a href="forum.php?mobile=yes" class="more">更多</a>
            </div>
            
            <div class="topic_item topic1" style="display:none;">
                <a href="forum.php?mod=post&action=newthread&fid={$fid}" class="msg">马上留言</a>
                <ul class="t1_list clearfix">
                    <!--{loop $threadsList[2] $val}-->
                    <li>
                        <div class="lt"><img src="/uc_server/avatar.php?uid={$val['authorid']}&size=middle" /><span>{$val['author']}</span></div>
                        <div class="rt">
                            <h6><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" class="town" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}">[{$_G[cache][forums][$val[fid]][name]}]</a><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" class="title">{$val['subject']}</a></h6>
                            <div class="date">发表时间：{date($val['dateline'],"Y-m-d")}</div>
                            <div class="clearfix">
                                <span class="status" >状态：<em class="threadstatus {$val['className']}" title="{$val['statusTitle']}" ></em>{$val['show_text']}</span>
                                <span class="reply">回复{$val['views']} | 查看{$val['replies']}</span>
                            </div>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
                <a href="forum.php?mobile=yes" class="more">更多</a>
            </div>
        </div>

    </div>
	<div id="newsbox">
        <div class="n_tab">
            <span>民生快递</span>
        </div>
        
        <ul class="n_list clearfix">
            <!--{loop $list $value}-->
            <li><a href="m.php?mod=mobile_view&aid={$value['aid']}" target="_self">$value[title]</a></li>
            <!--{/loop}-->
        </ul>
        <a href="m.php?mod=mobile_list&catid=2&mobile=yes" class="more">更多</a>
    </div>
<script type="text/javascript">
    
    $(function(){
        $('#topicbox .t_tab:eq(0) span').each(function(index){
            $(this).click(function(){
                $('#topicbox .t_tab:eq(0) span').removeClass('navOn');
                $(this).addClass("navOn");
                
                $("#topicbox .slideTopic .topic_item").hide();
                $("#topicbox .slideTopic .topic_item:eq(" + index + ")").show();
            });
        });
    });
/*
TouchSlide({slideCell:"#slideBar",effect:"leftLoop",titCell:".pager",mainCell:".container",autoPlay:true,autoPage:true,switchLoad:"data-src"});
TouchSlide({slideCell:"#topicbox",effect:"leftLoop",titCell:".slideTab span",mainCell:".slideTopic"});
*/
</script>
<!--{template common/footer}-->

