<!--{template common/header}-->
    <div id="navbox">
        <a href="m.php?mobile=yes" target="_self">首页</a>|<a href="m.php?mod=mobile_list&catid=20&mobile=yes" <!--{if $_GET['catid'] == 20}-->class="current"<!--{/if}-->  target="_self">政务信息</a>|<a href="forum.php?mobile=yes" target="_self">民生论坛</a>|<a href="m.php?mod=mobile_list&catid=2&mobile=yes" <!--{if $_GET['catid'] == 2}-->class="current"<!--{/if}-->  target="_self">民生快递</a>
    </div>

    <div id="newsbox">
        <div class="n_tab">
            <!--{if $_GET['catid'] == 2}-->
            <span>民生快递</span>
            <!--{else}-->
            <span>政务信息</span>
            <!--{/if}-->
        </div>
        <ul class="n_list clearfix">
            <!--{loop $list['list'] $value}-->
            <li><a href="m.php?mod=mobile_view&aid={$value['aid']}" target="_self">$value[title]</a></li>
            <!--{/loop}-->
        </ul>
        <div class="pgs">{$list['multi']}</div>
    </div>

<!--{template common/footer}-->

