<!--{template common/header}-->
    <!--{template common/header_nav}-->

    <div id="newsbox">
        <div class="n_tab">
            <!--{if $_GET['catid'] == 2}-->
            <span>民生快递</span>
            <!--{else}-->
            <span>政务信息</span>
            <!--{/if}-->
        </div>
        <ul class="n_list clearfix">
            <!--{loop $list['list'] $value}-->
            <li><a href="m.php?mod=mobile_view&aid={$value['aid']}" target="_self">$value[title]</a></li>
            <!--{/loop}-->
        </ul>
        <div class="pgs">{$list['multi']}</div>
    </div>

<!--{template common/footer}-->

