<!--{template common/header}-->
    <div id="navbox">
        <a href="m.php?mobile=yes" target="_self">首页</a>|<a href="forum.php?mobile=yes" target="_self">民生论坛</a>|<a href="m.php?mod=mobile_list&catid=2&mobile=yes" class="current"  target="_self">民生快递</a>
    </div>

    <div id="detialbox">
        <div class="ms_title"><h2>$article[title]</h2></div>
        <div class="curdate">发布人：<!--{if empty($article['author'])}-->慈溪网络民生服务平台编辑部<!--{else}-->{$article['author']}<!--{/if}--> &nbsp; 发表时间：{$article['dateline']}</div>
        <div class="abstract">摘要：{$article[summary]}</div>
        <div class="curtext">
            $content[content]
        </div>
    </div>
    <div id="turnpage" class="ft">
        <a class="home" href="{$_SERVER['HTTP_REFERER']}"  >返回</a> <a href="javascript:void(0);" class="top" onclick="window.scrollTo(0, 0);">返回顶部</a>
    </div>
<!--{eval $turnpage = 1}-->
<!--{template common/footer}-->

