<!--{template common/header}-->
<div class="mfirst">
    <div class="mhdp">
        <!--{block/14}-->
    </div>
    <div class="mmskd">
        <h2><a class="moreLink" href="/portal.php?mod=list&catid=2"  target="_blank">&gt;&nbsp;更多</a></h2>
        <div class="mscon">
            <h3><!--{block/7}--></h3>
            <div class="hot2"></div>
            <div class="hotline"></div>
            <div class="mlist mllist mlisth">
                <!--{block/9}-->
            </div>
        </div>
    </div>
    <div class="clr"></div>
</div>
<div class="msecond">
    <div class="secleft">
        <h2><a class="moreLink" href="/portal.php?mod=list&catid=3" target="_blank">&gt;&nbsp;更多</a></h2>
        <div class="mscons">
            <div class="mlist mlisthome">
                <!--{block/11}-->
            </div>

            <div class="viewbg view-idx">
                <!--{block/16}-->
            </div>
            <div class="clr"></div>
        </div>
        <div class="asklc">
            <a href="/portal.php?mod=view&aid=12" class="guide guide1" target="_blank">发帖须知</a>
            <a href="/portal.php?mod=list&catid=6" class="guide guide2" target="_blank">常见问题</a>
            <a href="/portal.php?mod=list&catid=7" class="guide guide3" target="_blank">部门职责</a>
            <a href="/forum.php" class="guide guide4" target="_blank">镇街连线</a>
            <a href="/forum.php" class="guide guide5" target="_blank">我要提问</a>
            <!--<img src="images/asklc.jpg" />-->


        </div>
    </div>
    <div class="secright">
        <div class="bncdsy">
            <a class="hotlink first" href="javascript:void(0);">&nbsp;</a>
            <a class="hotlink hot-1" href="/portal.php?mod=view&aid=9" target="_blank">热线呼叫</a>
            <a class="hotlink hot-2" href="/forum.php?gid=1" target="_blank">部门连线</a>
            <a class="hotlink hot-3" href="/forum.php?gid=72" target="_blank">镇街连线</a>
            <a class="hotlink hot-4" href="/portal.php?mod=list&catid=8" target="_blank">政务微博</a>
            <a class="hotlink hot-5" href="/portal.php?mod=view&aid=10" target="_blank">微信留言</a>
            <a class="hotlink hot-6" href="/portal.php?mod=view&aid=11" target="_blank">微博留言</a>
        </div>
    </div>
    <div class="clr"></div>
</div>
<div class="bluebg"></div>

<div class="third">
    <div class="zxask">
        <a href="/forum.php" class="a1" target="_blank">&nbsp;</a>
        <a href="/portal.php?mod=view&aid=15" class="a2" target="_blank">&nbsp;</a>
        <a href="/forum.php" class="a3" target="_blank">&nbsp;</a>
    </div>
    <div class="zxask-btm">
        <div class="secleft">
            <div class="asktop" id="zxwd">
                <ul>
                    <li class="askcur" lang="1">网友正在问</li>
                    <li lang="2">部门正在答</li>
                </ul>
                <div class="clr"></div>
                <div class="rightlc"><img src="images/rightlc.jpg" /></div>
            </div>
            <div class="askul">
                <div class="showno zxwd_1">
                    <ul>
                        <!--{loop $askingThreads $val}-->
                        <li><div class="p1"><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" title="{$val['subject']}" target="_blank">{$val['subject']}</a></div>
                            <div class="p2">{$val['dateline']}</div>
                            <div class="p3"><a href="forum.php?mod=forumdisplay&fid={$thread[fid]}" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}"><b>[{$_G[cache][forums][$val[fid]][name]}]</b></a></div>
                            <div class="p4">
                                <p class="threadstatus {$val['className']}"></p><p>{$val['show_text']}</p>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                </div>
                <div class="showno zxwd_2">
                    <ul>
                        <!--{loop $answeringThreads $val}-->
                        <li><div class="p1"><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" title="{$val['subject']}" target="_blank">{$val['subject']}</a></div>
                            <div class="p2">{$val['dateline']}</div>
                            <div class="p3"><a href="forum.php?mod=forumdisplay&fid={$thread[fid]}" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}"><b>[{$_G[cache][forums][$val[fid]][name]}]</b></a></div>
                            <div class="p4">
                                <p class="threadstatus {$val['className']}"></p><p>{$val['show_text']}</p>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                    
                </div>
                <div class="clr"></div>
                <div class="person">
                    <p class="per1">
                        <!--{if $_G['uid']}-->
                        <a href="/home.php?mod=spacecp" target="_blank">个人中心</a>
                        <!--{else}-->
                        <a href="/member.php?mod=logging&action=login" target="_blank">个人中心</a>
                        <!--{/if}--></p>
                    <p class="per2"><a href="/portal.php?mod=view&aid=12" target="_blank">发帖须知</a></p>
                    <p class="per3">e热线：63013581</p>
                    <span class="thread-search">热帖搜索：</span>
                    <div class="psoso">
                        <form method="post" autocomplete="off" action="search.php?mod=forum" onsubmit="if ($('scform_fmtxt'))  searchFocus($('scform_srchtxt'));">
                            <input type="hidden" name="formhash" value="{FORMHASH}">
                            <input class="pkey" type="text" id="scform_fmtxt" name="srchtxt" value="" tabindex="1" placeholder="请输入搜索内容">
                            <input type="hidden" name="searchsubmit" value="yes">
                            <input class="psub" type="submit" id="scform_submit1" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="secright w240">
            <div class="wxbgtop"><a href="/portal.php?mod=list&catid=14" class="moreLink"  target="_blank">&nbsp;更多</a></div>
            <div class="wxbgcen">
                <div class="bgtj">
                    <ul><li><span class="forum-num">总发帖：</span>{$allposts}</li>
                    <li><span class="forum-num"> 用户数：</span>{$allmembers}</li></ul>
                    <ul><li><span class="forum-num">在受理：</span>{$nowdeals}</li>
                    <li><span class="forum-num">总回复：</span>{$allreplies}</li></ul>
                </div>
                <div class="fttj">
                    <!--{block/27}-->
                </div>
                <div class="wxbgbtm">
                    <!--{block/22}-->
                    <!--{block/23}-->
                    <!--{block/24}-->
                    <!--{block/25}-->
                    <!--{block/26}-->
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>
<div class="msad"><a href="http://weibo.com/p/1001062588129880/app2684833021" target="_blank"><img src="images/lspic2.jpg" /></a></div>
<div class="bluebg"></div>
<div class="four">
    <div class="zxask wxsytop">
        <!--<a href="#" class="a3 moreLink">&gt;&nbsp;更多</a>-->
    </div>
    <div class="wxsycen">
        <div class="asktop asktop2">
            <ul>
                <li class="askcur" lang="1">部 门</li>
                <li lang="2">镇 街</li>
                <!--<li lang="3">政务微博</li>-->
            </ul>
            <div class="clr"></div>
        </div>
        <div class="bmlogos ask_1">
            <!--{block/5}-->
        </div>
        <div class="bmlogos ask_2">
            <!--{block/12}-->
        </div>
    </div>
</div>
<!-- {block/zxbm} -->
<!--{template common/footer}-->
