<!--{template common/top_nav}-->

<link type="text/css" rel="stylesheet" href="css/swiper.min.css?{VERHASH}" />
<div class="portal_row1">
	<script type="text/javascript" src="{$_G[setting][jspath]}v3/jquery.slides.min.js?{VERHASH}"></script>
    <div class="fll col1">
        <!-- 幻灯片  -->
        <div id="home_slides" class="slides">
            <!--{block/42}-->
            <a href="javascript:void(0);" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
            <a href="javascript:void(0);" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
          </div>
        <script type="text/javascript">
            jq(function() {
                jq('#home_slides').slidesjs({
                    width: 675,
                    height:327,
                    navigation: true,
                    play: {
                        active: true,
                        auto: true,
                        interval: 4000,
                        swap: false,
                        pauseOnHover: true,
                        restartDelay: 2500
                      }
                });
            });
        </script>
    </div>
	
	<div class="frr col2">
		<div class="mmskd">
			 <!-- 头条 -->
	         <h2><strong>民生快递</strong><a class="moreLink" href="/portal.php?mod=list&catid=2"  target="_blank">&nbsp;</a></h2>
	         <div class="mscon">
	             <h3><!--{block/7}--></h3>
	         </div>
	         
	         <!-- 新版门户民生快递6条 -->
	         <div class="mlist">
	             <!--{block/34}-->
	         </div>
	     </div>
	     
	</div>
	<div class="clr"></div>
</div>

<div class="msecond">
    <div class="secleft">
        <div class="mscons">
            <div class="sublist fll">
            	<div class="bktitle">
                	<h2>政务信息<a class="moreLink" href="/portal.php?mod=list&catid=20" target="_blank">&nbsp;</a></h2>
                	<span></span>
                </div>
                <div class="mlist mlisthome">
                    <!--{block/29}-->
                </div>
            </div>
            <div class="sublist frr">
            	<div class="bktitle">
                	<h2 class="lgtext">新闻发布会<a class="moreLink" href="/portal.php?mod=list&catid=3" target="_blank">&nbsp;</a></h2>
                	<span></span>
                </div>
                <div class="mlist mlisthome">
                    <!--{block/11}-->
                </div>
            </div>
            <div class="clr"></div>
        </div>
        
        <div class="sublist hotsubject" style="margin-top:20px;">
        	<div class="bktitle">
               	<h2>热点话题<a class="moreLink" href="/forum.php?fid=1" target="_blank">&nbsp;</a></h2>
               	<span></span>
              </div>
              
              <div class="mlist mlisthome hottpoic">
              	  <div class="fll" style="padding:0 0 0 20px;width:280px;">
              	  <!--{block/35}-->
              	  </div>
              	  <div class="fll" style="padding: 0 0 0 10px;width:38 0px;">
              	  <!--{block/36}-->
              	  </div>
                  <div class="clr"></div>
              </div>
        </div>
        
       	<div class="asklc clearfix">
           <a href="/portal.php?mod=view&aid=12" class="guide guide1" target="_blank" title="发帖须知">&nbsp;</a>
           <a href="/portal.php?mod=list&catid=6" class="guide guide2" target="_blank" title="常见问题">&nbsp;</a>
           <a href="/portal.php?mod=list&catid=7" class="guide guide3" target="_blank" title="部门职责">&nbsp;</a>
           <a href="/forum.php" class="guide guide4" target="_blank" title="镇街连线">&nbsp;</a>
           <a href="/forum.php" class="guide guide5" target="_blank" title="我要提问">&nbsp;</a>
       </div>
       
       <div class="askul">
       		<div class="askul_item">
	       		<div class="bktitle">
	              	<h2>咨询求助<a class="moreLink" href="forum.php?mod=guide&view=zxqz" target="_blank">&nbsp;</a></h2>
	              	<span></span>
	             </div>
	             
	             <div class="hp-title">
                    <ul>
                        <li><div class="p1">内容</div>
                            <div class="p2">发布时间</div>
                            <div class="p3">受理单位</div>
                            <div class="p4">当前状态</div>
                        </li>
                    </ul>
                </div>
                <div id="index-asking" class="showno">
                    <ul>
                        <!--{loop $threadsList[0] $val}-->
                        <li><div class="p1"><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" title="{$val['subject']}" target="_blank">{$val['subject']}</a></div>
                            <div class="p2">{date($val['dateline'],"Y-m-d")}</div>
                            <div class="p3"><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}"><b>[{$_G[cache][forums][$val[fid]][name]}]</b></a></div>
                            <div class="p4">
                                <p class="threadstatus {$val['className']}" title="{$val['statusTitle']}"></p><span>{$val['show_text']}</span>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                </div>
             </div>
             <div class="askul_item">
	             <div class="bktitle">
	              	<h2>投诉举报<a class="moreLink" href="forum.php?mod=guide&view=tsjb" target="_blank">&nbsp;</a></h2>
	              	<span></span>
	             </div>
	             <div class="hp-title">
                    <ul>
                        <li><div class="p1">内容</div>
                            <div class="p2">发布时间</div>
                            <div class="p3">受理单位</div>
                            <div class="p4">当前状态</div>
                        </li>
                    </ul>
                </div>
                <div id="index-answering" class="showno">
                    <ul>
                        <!--{loop $threadsList[1] $val}-->
                        <li><div class="p1"><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" title="{$val['subject']}" target="_blank">{$val['subject']}</a></div>
                            <div class="p2">{date($val['dateline'],"Y-m-d")}</div>
                            <div class="p3"><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}"><b>[{$_G[cache][forums][$val[fid]][name]}]</b></a></div>
                            <div class="p4">
                                <p class="threadstatus {$val['className']}" title="{$val['statusTitle']}"></p><p>{$val['show_text']}</p>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                    
                </div>
             </div>
             <div class="askul_item">
	             <div class="bktitle">
	              	<h2>建言献策<a class="moreLink" href="forum.php?mod=guide&view=jyxc" target="_blank">&nbsp;</a></h2>
	              	<span></span>
	             </div>
	             <div class="hp-title">
                    <ul>
                        <li><div class="p1">内容</div>
                            <div class="p2">发布时间</div>
                            <div class="p3">受理单位</div>
                            <div class="p4">当前状态</div>
                        </li>
                    </ul>
                </div>
                <div id="index-suggestion" class="showno">
                    <ul>
                        <!--{loop $threadsList[2] $val}-->
                        <li><div class="p1"><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" title="{$val['subject']}" target="_blank">{$val['subject']}</a></div>
                            <div class="p2">{date($val['dateline'],"Y-m-d")}</div>
                            <div class="p3"><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}"><b>[{$_G[cache][forums][$val[fid]][name]}]</b></a></div>
                            <div class="p4">
                                <p class="threadstatus {$val['className']}" title="{$val['statusTitle']}"></p><p>{$val['show_text']}</p>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                </div>
             </div>
             <div class="clr"></div>
         </div>
       
    </div>
    <div class="secright">
        <div class="login_area">
        	<ul class="clearfix">
        		<li class="col1"><a href="/forum.php?mod=post&action=newthread&fid=2">我要问政</a></li>
        		<li class="col2"><a href="/forum.php">阿拉帮侬忙</a></li>
        	</ul>
        	<ul class="clearfix">
        		<li class="col1"><a href="/member.php?mod=logging&action=login">用户登入</a></li>
        		<li class="col2"><a href="/member.php?mod=register">用户注册</a></li>
        	</ul>
        </div>
    	<div class="mybox_long">
        	<div class="box_top"></div>
        	<div class="box_middle homepage" >
                <h3>帮您传递声音</h3>
        		<!--{template common/helpsound}-->
        	</div>
        	<div class="box_bottom"></div>
        </div>
        
        <div class="xq">
            <a href="javascript:void(0)"><img src="images/v3/xq.jpg"></a>
        </div>
        
        
        <div class="mybox mybox_long">
        	<div class="box_top"></div>
        	<div class="box_top2"><h3>最新回复</h3><a class="moreLink" href="/forum.php?mod=guide&view=new"  target="_blank">更多</a></div>
        	<div class="box_middle" style="padding-bottom:20px;">
        		<div class="timg"><img src="images/v3/home_kh1.jpg"/></div>
        		<!--{block/30}-->
        	</div>
       
        	<div class="box_top2" ><h3>关注排行</h3><a class="moreLink" href="/forum.php?mod=guide&view=new"  target="_blank">更多</a></div>
        	<div class="box_middle gzph" style="padding-bottom:20px;">
        		<div class="timg"><img src="images/v3/home_kh2.jpg"/></div>
        		<!--{block/31}-->
        	</div>
        	
        	<div class="box_top2"><h3>问效数据</h3><a class="moreLink" href="/forum.php"  target="_blank">更多</a></div>
        	<div class="box_middle">
        		<div class="timg"><img src="images/v3/home_kh3.jpg"/></div>
        		<div class="bgtj clearfix">
                    <div class="row1"><span class="forum-num">总发帖：</span><strong>{$allposts}</strong></div>
                    <div class="row1"><span class="forum-num">用户数：</span><strong>15{$allmembers}</strong></div>
                    <div class="row2"><span class="forum-num">在受理：</span><strong>{$nowdeals}</strong></div>
                    <div class="row2"><span class="forum-num">总回复：</span><strong>{$allreplies}</strong></div>
                </div>
        	</div>
        	<div class="box_bottom"></div>
        </div>
    </div>
    <div class="clr"></div>
</div>

<div class="four" >
	<div class="fayanren"></div>
    <div class="wxsycen clearfix">
        <div class="bmlogos fll" style="border-right: 1px dashed #cccccc;;">
        	<h4>问效部门</h4>
        	<div class="dlist bmlist"><!--{block/5}--></div>
        </div>
        <div class="bmlogos frr" style="width:49%;">
        	<h4>问效镇街</h4>
            <div class="dlist zjlist"><!--{block/12}--></div>
        </div>
        
        
    </div>
</div>
<!--{template common/footer}-->