<!--{template common/v3_newslist_header}-->
		<div class="dmain dmain_v3">
			<div class="first_news">
				<img src="{$_G[siteurl]}images/v3/weixin_top.jpg" width="100%"/>
			</div>
			<div class="dmain_content clearfix">
				<div class="mleft fll">
				    <!--{loop $weixinSubCat $value}-->
					<div class="weixin">
						<div class="bktitle">
	                        <h2 class="lgtxt">{$value[catname]}</h2>
	                        <span></span>
	                    </div>
	                    <ul class="weixin_list clearfix">
	                       <!--{loop $value['article_list'] $article}-->
	                       <li><a href="<!--{if $article['url']}-->{$article['url']}<!--{else}-->javascript:void(0);<!--{/if}-->" title="{$article['title']}" target="_blank"><img width="100px" height="100px" src="{$_G['setting']['attachurl']}{$article['pic']}"/></a><div>{$article['title']}</div></li>
	                       <!--{/loop}-->
	                    </ul>
					</div>
					<!--{/loop}-->
				</div>
			<!--{template common/v3_newslist_side}-->
			</div>
		</div>
		<!-- main end -->
<!--{template common/footer}-->