<!--{template common/header}-->
<!--[name]{lang portalcategory_listtplname}[/name]-->

<!-- main start -->
<div class="weititle">微博发布厅</div>
<div class="dmain">
    <div class="nleft">
        <!--
        <div class="weidesc">
            <p class="desctitle">简介：</p>
            <p class="desc">
                为适应“微”时代的网络与情态势，进一步提高党委政府网上执政能力， 2011年12月28日， 由宁波市委外宣办（市政府新闻办、市网宣办）主办的“宁波发布”政府微博正式上线，成为浙江省内收个市级政府微博发布平台。同时，宁波市委外宣办（市网宣办）整合了各县（市）区和市级部门的微博，推出宁波政务微博群。
            </p>
            <p class="desc">
                截止今天，全市已有71家与民生关系密切的市级部门及各县（市）区开通政务微博。宁波政务微博群的总粉丝数量已经突破180万。其中，仅“宁波发布”政务微博的粉丝量已超过50万。
            </p>
            <p class="desc">有事儿发微博。政务微博正在成为我市各级党委政府发布政绩、沟通民情，引导网上舆论、服务社会民生的不可或缺的重要平台。
            </p>
        </div>
        -->
        <div class="helpsound">
            <a class="hotlink first" href="javascript:void(0);">&nbsp;</a>
            <a class="hotlink" href="/portal.php?mod=view&amp;aid=9">热线呼叫</a>
            <a class="hotlink" href="/forum.php">部门连线</a>
            <a class="hotlink" href="/forum.php">镇街连线</a>
            <a class="hotlink" href="/weibo.html">政务微博</a>
            <a class="hotlink" href="/portal.php?mod=view&amp;aid=10">微信留言</a>
            <a class="hotlink" href="/portal.php?mod=view&amp;aid=11">微博留言</a>
        </div>
    </div>
    <div class="nright">
        <div class="weilogotab">
            <ul id="weibo-tabs">
                <li data-tab="1" class="active">部门</li>
                <li data-tab="2">镇街</li>
            </ul>
        </div>
        <div class="weilogos" id="tab-con">
            <!--{block/20}-->
            
            <!--{block/21}-->
        </div>
    </div>
    <div class="clr"></div>
</div>
<script type="text/javascript">
    var jq = jQuery.noConflict();
    jq('#tab-con ul').each(function(){
        var self = jq(this);
        if (self.index()==0) {
            self.show();
        } else {
            self.hide();
        }
    });
    jq('#weibo-tabs li').mouseenter(function(){
        var self = jq(this), tabKey = self.attr('data-tab') - 1;
        jq('#weibo-tabs li').removeClass('active');
        self.addClass('active');
        if (self.hasClass('active')) {
            jq('#tab-con ul').eq(tabKey).show();
        } else {
            jq('#tab-con ul').eq(tabKey).hide();
        }
        jq('#tab-con ul').eq(tabKey).siblings('ul').hide();
    });
</script>
<!-- main end -->

<!-- main end -->
<!--{template common/footer}-->﻿