<!--{template common/header}-->
<!--[name]{lang portalcategory_listtplname}[/name]-->

<!-- main start -->
<div class="newstop"><img src="images/newstop.jpg" /></div>
<div class="dmain">
    <div class="newsdiv">
        <!--{if isset($cat['children'][0])}-->
        <!--{eval $subcatid = $cat['children'][0];}-->
        <!--{eval $list = array();}-->
        <!--{eval $subcat = $portalcategory[$subcatid];}-->
        <!--{eval $wheresql = category_get_wheresql($subcat);}-->
        <!--{eval $list = category_get_list($subcat, $wheresql, 1, 10);}-->
        <!-- {var_dump($list);} -->
        <h5 class="h5"><span>{$subcat[catname]}</span> <a href="portal.php?mod=list&catid={$subcatid}">更多&gt;&gt;</a></h5>
        <div class="xwcon">
            <div class="cleft">
                <!--{block/17}-->
            </div>
            <div class="cright">
                <ul>
                    <!--{loop $list['list'] $value}-->
                    <!--{eval $highlight = article_title_style($value);}-->
                    <!--{eval $article_url = fetch_article_url($value);}-->
                    <li><a href="$article_url">$value[title]</a><span>$value[dateline]</span></li>
                    <!--{/loop}-->
                </ul>
            </div>
            <div class="clr"></div>
        </div>
        <!--{/if}-->
        
        <!--{if isset($cat['children'][1])}-->
        <!--{eval $subcatid = $cat['children'][1];}-->
        <!--{eval $list = array();}-->
        <!--{eval $subcat = $portalcategory[$subcatid];}-->
        <!--{eval $wheresql = category_get_wheresql($subcat);}-->
        <!--{eval $list = category_get_list($subcat, $wheresql, 1, 10);}-->
        <!-- {var_dump($list);} -->
        <h5 class="h5"><span>{$subcat[catname]}</span> <a href="portal.php?mod=list&catid={$subcatid}">更多&gt;&gt;</a></h5>
        <div class="xwcon">
            <div class="cleft">
                <!--{block/18}-->
            </div>
            <div class="cright">
                <ul>
                    <!--{loop $list['list'] $value}-->
                    <!--{eval $highlight = article_title_style($value);}-->
                    <!--{eval $article_url = fetch_article_url($value);}-->
                    <li><a href="$article_url">$value[title]</a><span>$value[dateline]</span></li>
                    <!--{/loop}-->
                </ul>
            </div>
            <div class="clr"></div>
        </div>
        <!--{/if}-->
    </div>
</div>
<!-- main end -->
<!--{template common/footer}-->