<!--{template common/new/top_nav2}-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->


<script type="text/javascript" src="{$_G[setting][jspath]}v3/jquery.slides.min.js?{VERHASH}"></script>
<!-- main start -->
<div class="inner_wrap">
	<div class="dsub_nav">
		<div class="mnav">
			<h1 class="nav_jt"><a href="/">首页</a><span class=small_jt>$cat[catname]</span></h1>
		</div>
	</div>
	<script type="text/javascript">
		jq(function() {
			jq('#slides').slidesjs({
		        width: 1067,
		        height:336,
		        navigation: false,
		        play: {
		            active: true,
		            auto: true,
		            interval: 4000,
		            swap: false,
		            pauseOnHover: true,
		            restartDelay: 2500
		          }
		    });
	    });
	
	</script>
	
	<div class="dmain dmain_v3">
		<div class="first_news">
			<div id="mskd_slides" class="slides">
		    	<div>
		    		<img src="static/image/example-slide-1.jpg" width="723" height="336" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
		    		<dl>
		    			<dd><h4>加紧时间按时间按手机按键手机按时间按时间按时间</h4></dd>
		    			<dt>aaaaaaaaaaaaaaaaaaaaa</dt>
		    		</dl>
		    	</div>
		    	<div>
		    		<img src="static/image/example-slide-1.jpg" width="723" height="336" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/">
		    		<dl>
		    			<dd><h4>asas2</h4></dd>
		    			<dt>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</dt>
		    		</dl>
		    	</div>
		    	<div>
		    		<img src="static/image/example-slide-1.jpg" width="723" height="336" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/">
		    		<dl>
		    			<dd><h4>asas3</h4></dd>
		    			<dt>aaaaaaa</dt>
		    		</dl>
		    	</div>
		    	<div>
		    		<img src="static/image/example-slide-1.jpg" width="723" height="336" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/">
		    		<dl>
		    			<dd><h4>asas4</h4></dd>
		    			<dt>aaaaaaa</dt>
		    		</dl>
		    	</div>
		  	</div>
		</div>
	
		<div class="dmain_content">
			<div class="mleft fll">
				<div class="bktitle">
	              	<h2>$cat[catname]</h2>
	              	<span></span>
	             </div>
				<div class="plist">
					<ul>
						<!--{loop $list['list'] $key $value}-->
						
						<!--{eval $highlight = article_title_style($value);}-->
						<!--{eval $article_url = fetch_article_url($value);}-->
						<li><a href="$article_url" target="_blank">$value[title]</a><span class="news_date">$value[dateline]</span></li>
						<!--{if ($key != 0 && ($key + 1) % 6 == 0)}--><li class="sepline"></li><!--{/if}-->
						<!--{/loop}-->
					</ul>
					<div class="page clearfix">{$list['multi']}</div>
				</div>
			</div>
			<div class="mright frr">
				<!--{template common/new/helpsound}-->
		        <div class="mybox">
		        	<div class="box_top"></div>
		        	<div class="box_top2"><h3>新闻发布会</h3><a href="portal.php?mod=list&catid=4" class="moreLink">&nbsp;</a></div>
		        	
		        	<div class="box_middle news_tj">
		        		<!--{block/37}-->
		        	</div>
		        	<div class="box_top2"><h3>民生面对面</h3><a href="portal.php?mod=list&catid=5" class="moreLink">&nbsp;</a></div>
		        	<div class="box_middle news_tj">
		        		<!--{block/38}-->
		        	</div>
		        	<div class="box_bottom"></div>
		        </div>
		        
				<div class="mybox cjwt">
		        	<div class="box_top"></div>
					<div class="box_top2"><h3>常见问题</h3><a href="portal.php?mod=list&catid=8" class="moreLink">&nbsp;</a></div>
					<div class="box_middle">
						<!--{block/32}-->
					</div>
					<div class="box_bottom"></div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
</div>
<!-- main end -->
<!--{template common/new/footer}-->