<!--{template common/header}-->
<!--[name]{lang portalcategory_listtplname}[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->
<!-- {var_dump($list);} -->
<!-- main start -->
<div class="dmain">
	<div class="mleft">
		<div class="mnav">
			<h1>首页&gt;<span>$cat[catname]</span></h1>
			<div class="mline"></div>
		</div>
		<div class="mlist">
			<ul>
				<!--{loop $list['list'] $value}-->
				<!--{eval $highlight = article_title_style($value);}-->
				<!--{eval $article_url = fetch_article_url($value);}-->
				<li><a href="$article_url">$value[title]</a><span>$value[dateline]</span></li>
				<!--{/loop}-->
			</ul>
			<div class="page">{$list['multi']}</div>
		</div>
	</div>
	<div class="mright">
		<div class="helpsound"></div>
		<div class="lanmu">
			<div class="lanmutop"><h1>阿拉帮侬忙</h1></div>
			<div class="lanmucen">
				<!--{block/6}-->
			</div>
			<div class="lanmufoot"></div>
		</div>
	</div>
	<div class="clr"></div>
</div>
<!-- main end -->
<!--{template common/footer}-->