<!--{template common/header}-->
<!--[name]{lang portalcategory_listtplname}[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->
<!-- {var_dump($list);} -->
<!-- main start -->
<div class="dmain">
	<div class="mleft">
		<div class="mnav">
			<h1>首页&gt;<span>$cat[catname]</span></h1>
			<div class="mline"></div>
		</div>
		<div class="plist">
			<div class="bm_c xld zw-news">
				<!--{loop $list['list'] $value}-->
				<!--{eval $highlight = article_title_style($value);}-->
				<!--{eval $article_url = fetch_article_url($value);}-->
                        <dl class="bbda cl">
                            <dt class="xs2"><a href="$article_url" target="_blank" class="xi2" $highlight>$value[title]</a> <!--{if $value[status] == 1}-->({lang moderate_need})<!--{/if}--></dt>
                            <dd class="xs2 cl">
                                <!--{if $value[pic]}--><div class="atc"><a href="$article_url" target="_blank"><img src="$value[pic]" alt="$value[title]" class="tn" /></a></div><!--{/if}-->
                                $value[summary]
                            </dd>
                            <dd>
                                <!--{if $value[catname] && $cat[subs]}-->{lang category}: <label><a href="{$portalcategory[$value['catid']]['caturl']}" class="xi2">$value[catname]</a></label>&nbsp;&nbsp;<!--{/if}-->
                                <span class="xg1"> $value[dateline]</span>
                                <!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $value['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $value['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}-->
                                <span class="xg1">
                                    <span class="pipe">|</span>
                                    <label><a href="portal.php?mod=portalcp&ac=article&op=edit&aid=$value[aid]">{lang edit}</a></label>
                                    <span class="pipe">|</span>
                                    <label><a href="portal.php?mod=portalcp&ac=article&op=delete&aid=$value[aid]" id="article_delete_$value[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a></label>
                                </span>
                                <!--{/if}-->
                            </dd>
                        </dl>
				<!--{/loop}-->
			</div>
			<div class="page">{$list['multi']}</div>
		</div>
	</div>
	<div class="mright">
		<div class="helpsound">
            <a class="hotlink first" href="javascript:void(0);">&nbsp;</a>
            <a class="hotlink" href="/portal.php?mod=view&aid=9">热线呼叫</a>
            <a class="hotlink" href="/forum.php?gid=1">部门连线</a>
            <a class="hotlink" href="/forum.php?gid=72">镇街连线</a>
            <a class="hotlink" href="http://weibo.com/cxfb329" target="_blank">政务微博</a>
            <a class="hotlink" href="/portal.php?mod=view&aid=10" target="_blank">微信留言</a>
            <a class="hotlink" href="http://weibo.com/ciximet" target="_blank">微博留言</a>
        </div>
		<div class="lanmu">
			<div class="lanmutop"><h1>阿拉帮侬忙</h1></div>
			<div class="lanmucen">
                <!--{block/33}-->
			</div>
			<div class="lanmufoot"></div>
		</div>
	</div>
	<div class="clr"></div>
</div>
<!-- main end -->
<!--{template common/footer}-->