<!--{template common/new/top_nav2}-->
<!--[name]{lang portalcategory_listtplname}[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->
<!-- main start -->

<script type="text/javascript" src="{$_G[setting][jspath]}v3/jquery.slides.min.js?{VERHASH}"></script>
<!-- main start -->
<div class="inner_wrap">
	<div class="dsub_nav">
		<div class="mnav">
			<h1 class="nav_jt"><a href="/">首页</a><span class=small_jt>$cat[catname]</span></h1>
		</div>
	</div>
	<script type="text/javascript">
		jq(function() {
			jq('#mskd_slides').slidesjs({
		        width: 1067,
		        height:336,
		        navigation: false,
		        play: {
		            active: true,
		            auto: true,
		            interval: 4000,
		            swap: false,
		            pauseOnHover: true,
		            restartDelay: 2500
		          }
		    });
	    });
	
	</script>
	
	<div class="dmain dmain_v3">
		<div class="first_news">
			<div id="mskd_slides" class="slides">
		    	<div>
		    		<img src="static/image/example-slide-1.jpg" width="723" height="336" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
		    		<dl>
		    			<dd><h4>加紧时间按时间按手机按键手机按时间按时间按时间</h4></dd>
		    			<dt>aaaaaaaaaaaaaaaaaaaaa</dt>
		    		</dl>
		    	</div>
		    	<div>
		    		<img src="static/image/example-slide-1.jpg" width="723" height="336" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/">
		    		<dl>
		    			<dd><h4>asas2</h4></dd>
		    			<dt>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</dt>
		    		</dl>
		    	</div>
		    	<div>
		    		<img src="static/image/example-slide-1.jpg" width="723" height="336" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/">
		    		<dl>
		    			<dd><h4>asas3</h4></dd>
		    			<dt>aaaaaaa</dt>
		    		</dl>
		    	</div>
		    	<div>
		    		<img src="static/image/example-slide-1.jpg" width="723" height="336" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/">
		    		<dl>
		    			<dd><h4>asas4</h4></dd>
		    			<dt>aaaaaaa</dt>
		    		</dl>
		    	</div>
		  	</div>
		</div>
	
		<div class="dmain_content">
			<div class="mleft fll">
				<div class="bktitle">
	              	<h2>$cat[catname]</h2>
	              	<span></span>
	             </div>
				<div class="plist zwxx">
				<!--{loop $list['list'] $value}-->
				<!--{eval $highlight = article_title_style($value);}-->
				<!--{eval $article_url = fetch_article_url($value);}-->
                       <dl class="bbda cl">
                           <dt class="xs2 alink"><a href="$article_url" target="_blank" class="xi2" $highlight>$value[title]</a> <!--{if $value[status] == 1}-->({lang moderate_need})<!--{/if}--></dt>
                           <dd class="xs2 cl">
                               <!--{if $value[pic]}--><div class="atc"><a href="$article_url" target="_blank"><img src="$value[pic]" alt="$value[title]" class="tn" /></a></div><!--{/if}-->
                               $value[summary]
                           </dd>
                           <dd class="xs3">
                               <!--{if $value[catname] && $cat[subs]}-->{lang category}: <label><a href="{$portalcategory[$value['catid']]['caturl']}" class="xi2">$value[catname]</a></label>&nbsp;&nbsp;<!--{/if}-->
                               <span class="xg1"> $value[dateline]</span>
                               <!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $value['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $value['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}-->
                               <span class="xg1">
                                   <span class="pipe">|</span>
                                   <label><a href="portal.php?mod=portalcp&ac=article&op=edit&aid=$value[aid]">{lang edit}</a></label>
                                   <span class="pipe">|</span>
                                   <label><a href="portal.php?mod=portalcp&ac=article&op=delete&aid=$value[aid]" id="article_delete_$value[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a></label>
                               </span>
                               <!--{/if}-->
                           </dd>
                       </dl>
				<!--{/loop}-->
			</div>
			<div class="page clearfix">{$list['multi']}</div>
		</div>
		
		<!--{template common/new/common_side}-->
	</div>
</div>
<!-- main end -->
<!--{template common/new/footer}-->