<!--{template common/new/header}-->

<div class="msecond">
    <div class="secleft">
        <div class="mmskd">
            <h2><a class="moreLink" href="/portal.php?mod=list&catid=2"  target="_blank">&gt;&nbsp;更多</a></h2>
            <div class="mscon">
                <h3><!--{block/7}--></h3>
            </div>
        </div>
        <div class="mfirst">
            <div class="mhdp">
                <!--{block/14}-->
            </div>
            <div class="mlist mllist mlisth">
                <!--{block/9}-->
            </div>
            <div class="clr"></div>
        </div>
        <div class="mscons">
            <div class="sublist newspub">
                <h2><a class="moreLink" href="/portal.php?mod=list&catid=20" target="_blank">&gt;&nbsp;更多</a></h2>
                <div class="mlist mlisthome">
                    <!--{block/29}-->
                </div>
            </div>
            <div class="sublist">
                <h2><a class="moreLink" href="/portal.php?mod=list&catid=3" target="_blank">&gt;&nbsp;更多</a></h2>
                <div class="mlist mlisthome">
                    <!--{block/11}-->
                </div>
            </div>
<!--            <div class="viewbg view-idx">
                {block/16}
            </div>-->
            <div class="clr"></div>
        </div>
    </div>
    <div class="secright">
        <a class="right-btn forum-help" href="/forum.php" target="_blank">阿拉帮侬忙</a>
        <!--{if $_G['uid']}-->
        <a class="right-btn hp-center" href="/home.php?mod=spacecp">个人中心</a>
        <!--{else}-->
        <a class="right-btn hp-login" href="/member.php?mod=logging&action=login">用户登入</a>
        <!--{/if}-->
        <a class="right-btn hp-register" href="/member.php?mod=register">用户注册</a>
        <div class="bncdsy">
            <a class="hotlink first" href="javascript:void(0);">&nbsp;</a>
            <a class="hotlink hot-1" href="/portal.php?mod=view&aid=9" target="_blank">热线呼叫</a>
            <a class="hotlink hot-2" href="/forum.php?gid=1" target="_blank">部门连线</a>
            <a class="hotlink hot-3" href="/forum.php?gid=72" target="_blank">镇街连线</a>
            <a class="hotlink hot-4" href="http://weibo.com/p/1001062588129880/weiguanwang?from=page_100106&mod=TAB#place" target="_blank">政务微博</a>
            <a class="hotlink hot-5" href="/portal.php?mod=view&aid=10" target="_blank">微信留言</a>
            <a class="hotlink hot-6" href="http://weibo.com/ciximet" target="_blank">微博留言</a>
        </div>
    </div>
    <div class="clr"></div>
</div>
<div class="bluebg"></div>

<div class="third">
    <div class="zxask-btm">
        <div class="secleft">
            
            <div class="asklc">
                <a href="/portal.php?mod=view&aid=12" class="guide guide1" target="_blank">发帖须知</a>
                <a href="/portal.php?mod=list&catid=6" class="guide guide2" target="_blank">常见问题</a>
                <a href="/portal.php?mod=list&catid=7" class="guide guide3" target="_blank">部门职责</a>
                <a href="/forum.php" class="guide guide4" target="_blank">镇街连线</a>
                <a href="/forum.php" class="guide guide5" target="_blank">我要提问</a>
                <!--<img src="images/asklc.jpg" />-->
            </div>
            <div class="ask-online"></div>
          
            <div class="askul">
                <h2>咨询求助<a class="moreLink" href="forum.php?mod=guide&view=zxqz"  target="_blank">&gt;&nbsp;更多</a></h2>
                <div class="hp-title">
                    <ul>
                        <li><div class="p1">内容</div>
                            <div class="p2">发布时间</div>
                            <div class="p3">受理单位</div>
                            <div class="p4">当前状态</div>
                        </li>
                    </ul>
                </div>
                <div id="index-asking" class="showno">
                    <ul>
                        <!--{loop $threadsList[0] $val}-->
                        <li><div class="p1"><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" title="{$val['subject']}" target="_blank">{$val['subject']}</a></div>
                            <div class="p2">{date($val['dateline'],"Y-m-d")}</div>
                            <div class="p3"><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}"><b>[{$_G[cache][forums][$val[fid]][name]}]</b></a></div>
                            <div class="p4">
                                <p class="threadstatus {$val['className']}" title="{$val['statusTitle']}"></p><p>{$val['show_text']}</p>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                </div>
                
                <h2>投诉举报<a class="moreLink" href="forum.php?mod=guide&view=tsjb"  target="_blank">&gt;&nbsp;更多</a></h2>
                <div class="hp-title">
                    <ul>
                        <li><div class="p1">内容</div>
                            <div class="p2">发布时间</div>
                            <div class="p3">受理单位</div>
                            <div class="p4">当前状态</div>
                        </li>
                    </ul>
                </div>
                <div id="index-answering" class="showno">
                    <ul>
                        <!--{loop $threadsList[1] $val}-->
                        <li><div class="p1"><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" title="{$val['subject']}" target="_blank">{$val['subject']}</a></div>
                            <div class="p2">{date($val['dateline'],"Y-m-d")}</div>
                            <div class="p3"><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}"><b>[{$_G[cache][forums][$val[fid]][name]}]</b></a></div>
                            <div class="p4">
                                <p class="threadstatus {$val['className']}" title="{$val['statusTitle']}"></p><p>{$val['show_text']}</p>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                    
                </div>
                
                <h2>建言献策<a class="moreLink" href="forum.php?mod=guide&view=jyxc"  target="_blank">&gt;&nbsp;更多</a></h2>
                <div class="hp-title">
                    <ul>
                        <li><div class="p1">内容</div>
                            <div class="p2">发布时间</div>
                            <div class="p3">受理单位</div>
                            <div class="p4">当前状态</div>
                        </li>
                    </ul>
                </div>
                <div id="index-suggestion" class="showno">
                    <ul>
                        <!--{loop $threadsList[2] $val}-->
                        <li><div class="p1"><a href="forum.php?mod=viewthread&amp;tid={$val['tid']}" title="{$val['subject']}" target="_blank">{$val['subject']}</a></div>
                            <div class="p2">{date($val['dateline'],"Y-m-d")}</div>
                            <div class="p3"><a href="forum.php?mod=forumdisplay&fid={$val[fid]}" style="color:{$_G[cache][forums][$val[fid]][extra][namecolor]}"><b>[{$_G[cache][forums][$val[fid]][name]}]</b></a></div>
                            <div class="p4">
                                <p class="threadstatus {$val['className']}" title="{$val['statusTitle']}"></p><p>{$val['show_text']}</p>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                    
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="secright w240">
            <div class="wxbgtop"></div>
            <div class="wxbgcen">
                <div class="bgtj">
                    <ul><li><span class="forum-num">总发帖：</span>{$allposts}</li>
                    <li><span class="forum-num"> 用户数：</span>{$allmembers}</li></ul>
                    <ul><li><span class="forum-num">在受理：</span>{$nowdeals}</li>
                    <li><span class="forum-num">总回复：</span>{$allreplies}</li></ul>
                </div>
            </div>
            
            <div class="wxbgtop zxhf"><a class="moreLink" href="/forum.php?mod=guide&view=new"  target="_blank">更多</a></div>
            <div class="wxbgcen">
                <div class="bgtj zxhf-list">
                    <!--{block/30}-->
                    <div class="clr"></div>
                </div>
            </div>
            
            <div class="wxbgtop gzph"><a class="moreLink" href="/forum.php?mod=guide&view=new"  target="_blank">更多</a></div>
            <div class="wxbgcen">
                <div class="bgtj gzph-list">
                    <!--{block/31}-->
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>
<div class="msad"><a href="http://weibo.com/p/1001062588129880/weiguanwang?from=page_100106&mod=TAB#place" target="_blank"><img src="images/lspic2.jpg" /></a></div>
<div class="bluebg"></div>
<div class="four">
    <div class="zxask wxsytop">
        <!--<a href="#" class="a3 moreLink">&gt;&nbsp;更多</a>-->
    </div>
    <div class="wxsycen">
        <div class="asktop asktop2">
            <ul>
                <li class="askcur" lang="1">部 门</li>
                <li lang="2">镇 街</li>
                <!--<li lang="3">政务微博</li>-->
            </ul>
            <div class="clr"></div>
        </div>
        <div class="bmlogos ask_1">
            <!--{block/5}-->
        </div>
        <div class="bmlogos ask_2">
            <!--{block/12}-->
        </div>
    </div>
</div>
<!-- {block/zxbm} -->
<!--{template common/footer}-->
<script type="text/javascript"> 
(function(jq){ 
    jq.fn.extend({ 
    scrollnews:function(opt,callback){ //参数初始化 
    if(!opt) var opt={}; 
    var _btnUp = jq("#"+ opt.up);//Shawphy:向上按钮 
    var _btnDown = jq("#"+ opt.down);//Shawphy:向下按钮 
    var timerID; 
    var _this=this.eq(0).find("ul:first"); 
    var lineH=_this.find("li:first").height(), //获取行高 
    line=opt.line?parseInt(opt.line,10):parseInt(this.height()/lineH,10), //每次滚动的行数，默认为一屏， 即父容器高度 
    speed=opt.speed?parseInt(opt.speed,10):500; //卷动速度，数值越大，速度越慢（毫秒） 
    timer=opt.timer //?parseInt(opt.timer,10):3000; //滚动的时间间隔（毫秒） 
    if(line==0) line=1; 
    var upHeight=0-line*lineH; 
    //滚动函数 
    var scrollUp=function(){ 
    _btnUp.unbind("click",scrollUp); //Shawphy:取消向上按钮的函数绑定 
    _this.animate({ 
    marginTop:upHeight 
    },speed,function(){ 
    for(i=1;i<=line;i++){ 
    _this.find("li:first").appendTo(_this); 
    } 
    _this.css({marginTop:0}); 
    _btnUp.bind("click",scrollUp); //Shawphy:绑定向上按钮的点击事件 
    }); 
    } 
    //Shawphy:向下翻页函数 
    var scrollDown=function(){ 
    _btnDown.unbind("click",scrollDown); 
    for(i=1;i<=line;i++){ 
    _this.find("li:last").show().prependTo(_this); 
    } 
    _this.css({marginTop:upHeight}); 
    _this.animate({ 
    marginTop:0 
    },speed,function(){ 
    _btnDown.bind("click",scrollDown); 
    }); 
    } 
    //Shawphy:自动播放 
    var autoPlay = function(){ 
    if(timer)timerID = window.setInterval(scrollUp,timer); 
    }; 
    var autoStop = function(){ 
    if(timer)window.clearInterval(timerID); 
    }; 
    //鼠标事件绑定 
    _this.hover(autoStop,autoPlay).mouseout(); 
    _btnUp.css("cursor","pointer").click( scrollUp ).hover(autoStop,autoPlay);//Shawphy:向上向下鼠标事件绑定 
    _btnDown.css("cursor","pointer").click( scrollDown ).hover(autoStop,autoPlay); 
    } 
    }) 
})(jQuery); 
jq(document).ready(function(){
//    if (jq("#index-asking li").length > 6) {
//        jq("#index-asking").scrollnews({line:1,speed:800,timer:2000});
//    }
//    if (jq("#index-answering li").length > 6) {
//        jq("#index-answering").scrollnews({line:1,speed:800,timer:2000}); 
//    }
//    if (jq("#index-suggestion li").length > 6) {
//        jq("#index-suggestion").scrollnews({line:1,speed:800,timer:2000}); 
//    }
}); 
</script> 