<!--{template common/header}-->
<div class="dmain">
    <div class="bmzx"><img src="images/bmlogo.jpg" /></div>
    <div class="bmlist">
        <!--{loop $catlist $key $cat}-->
        <div class="subbm-item">
            <span class="subtitle">{$cat[name]}:&nbsp;</span>
            <!--{loop $cat[forums] $skey $forumid}-->
            <!--{eval $forum=$forumlist[$forumid];}-->
            <!--{eval $forumurl = !empty($forum['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$forum['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$forum['fid'];}-->
            {if ($skey !=0)}| {/if}
            <a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}>{$forum[name]}</a>
            <!--{/loop}-->
        </div>
        <!--{/loop}-->
    </div>
</div>

<div class="showstatus"><img src="images/showstatus.jpg"></div>
<div class=""></div>

<!--{if $_G['group']['radminid'] == 1}-->
<!--{eval helper_manyou::checkupdate();}-->
<!--{/if}-->
<!--{if empty($_G['setting']['disfixednv_forumindex']) }--><script>fixed_top_nv();</script><!--{/if}-->
<!--{template common/footer}-->
