<div class="dmain">
    <ul>
    <!--{loop $_G['forum_list'] $key $forum}-->
    <li class="bmzx_item">
            <div class="bmzx"><img src="images/group{$forum[fid]}.jpg" /></div>
            <div class="bmlist">
                <!--{if !empty($_GET['gid']) && $_GET['gid'] == $forum['fid']}-->
                <a href="forum.php?gid={$forum['fid']}" class="selected">{lang all}</a>&nbsp;|
                <!--{else}-->
                <a href="forum.php?gid={$forum['fid']}">{lang all}</a>&nbsp;|
                <!--{/if}-->
                <!--{loop $forum[list] $key2 $val}-->
                    <!--{if $_GET['fid'] == $val['fid']}-->
                    <a href="forum.php?mod=forumdisplay&fid={$val['fid']}" class="selected">{$val[name]}</a>&nbsp;|
                    <!--{else}-->
                    <a href="forum.php?mod=forumdisplay&fid={$val['fid']}">{$val[name]}</a>&nbsp;|
                    <!--{/if}-->
                <!--{/loop}-->
            </div>
        </li>
    <!--{/loop}-->
    </ul>
</div>
<div class="showstatus">
    <label title="24小时未受理"><span class="threadstatus icon-24"></span>24小时未受理</label>
    <label title="三天内回复"><span class="threadstatus icon-3days"></span>三天内回复</label>
    <label title="五天内回复"><span class="threadstatus icon-5days"></span>五天内回复</label>
    <label title="五天外回复"><span class="threadstatus icon-5daysover"></span>五天外回复</label>
    <label title="超时未回复"><span class="threadstatus icon-overtime"></span>超时未回复</label>
    
    <div class="working_notify">告知：网络发言人帖文受理时间为正常上班工作日，遇节假日顺延处理。</div>
</div>

<div class="block-thread-search clearfix">
    <form method="post" autocomplete="off" action="search.php?mod=forum" onsubmit="if ($('scform_fmtxt'))  searchFocus($('scform_srchtxt'));">
        <input type="hidden" name="formhash" value="{FORMHASH}">
        <input type="hidden" name="searchsubmit" value="yes">
        <span  class="zi1">
            <label style="margin-left:50px;"><span style="float:left;width:60px;">帖子搜索：</span>
                <span class="ftid">
                    <select name="viewtype" id="viewtype" width="120" height="30" >
                        <option value="">请选择主题分类</option>
                        <option value="zxqz" selected>咨询求助</option>
                        <option value="tsjb" selected>投诉举报</option>
                        <option value="jyxc" selected>建言献策</option>
                    </select>
                </span>
                <input class="input1" type="text"  id="scform_fmtxt" name="srchtxt" value="" tabindex="1" placeholder="请输入搜索内容"></label><input type="image" src="images/search_button.jpg"/>
        </span>
    </form>
    <script>
        simulateSelect('viewtype');
        
    </script>
    <div class="wyw">
        <!--{if $_GET['fid']}-->
        <a href="forum.php?mod=post&action=newthread&fid={$_GET['fid']}"><img src="images/list_wyw.jpg"></a>
        <!--{else}-->
        <a href="forum.php?mod=post&action=newthread&fid=2"><img src="images/list_wyw.jpg"></a>
        <!--{/if}-->
    </div>
</div>
