
</div>	
<!-- footer start -->
<div class="mfoot">
	<div class="bqxx">
		<p class="p1">慈溪网络民生服务平台</p>
		<p class="p2">主办单位：中共慈溪市纪委、中共慈溪市委宣传部   承办单位：市效能办、市网信办、慈溪新闻网 浙ICP备06028381号</p>
	</div>
</div>
<!-- footer end -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5896347'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D5896347%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>