<!--{if $_G['debugtpl'] == '_v3'}-->
    </div><!-- end of inner_wrap -->
</div><!-- end of outter_wrap -->
<!-- footer start -->
<div class="mfoot">
    <div class="bqxx">
        <div class="qr">
            <img src="{STATICURL}/image/qr.png"/>
            <span>关注手机版</span>
        </div>
        <p class="p2">主办单位：中共慈溪市纪委、中共慈溪市委宣传部   承办单位：市效能办、市网信办、慈溪新闻网</p>
        <p class="p2">建议使用IE8及以上版本IE浏览器，1360*1280以上分辨率  {$_G['setting']['icp']}</p>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5896347'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D5896347%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</div>
<!-- footer end -->


<script type="text/javascript">
function adjustStyle(width){
    width = parseInt(width);
    if(width > 1024){
    	//remove small css
    	//jq("#small_style").remove();
    	jq("body").removeClass("smaller");
    }else{
    	jq("body").addClass("smaller");
    	/*
    	if(!jq("#small_style").size()){
    		jq("<link>").attr({
    	    	id : "small_style",
    	    	rel: "stylesheet",
    	        type: "text/css",
    	        href: "css/ms_small.css"
    	    })
    	    .appendTo("head");
    	}
    	*/
    }
}
 
jq(function(){
    adjustStyle(jq(window).width());
    jq(window).resize(function(){
        adjustStyle(jq(this).width());
    });
});
</script>
    
</body>
</html>
<!--{else}-->
</div>	
<!-- footer start -->
<div class="mfoot">
	<div class="bqxx">
		<p class="p1">慈溪网络民生服务平台</p>
		<p class="p2">主办单位：中共慈溪市纪委、中共慈溪市委宣传部   承办单位：市效能办、市网信办、慈溪新闻网 浙ICP备06028381号</p>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5896347'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D5896347%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	</div>
</div>
<!-- footer end -->
</body>
</html>
<!--{/if}-->