
				<div class="helpsound clearfix">
		            <a class="hotlink hot-1" href="/portal.php?mod=view&aid=9" title="热线呼叫">&nbsp;</a>
		            <a class="hotlink hot-2" href="/forum.php?gid=1" title="部门连线">&nbsp;</a>
		            <a class="hotlink hot-3" href="/forum.php?gid=72" title="镇街连线">&nbsp;</a>
		            <a class="hotlink hot-4" href="http://weibo.com/cxfb329" target="_blank" title="政务微博">&nbsp;</a>
		            <a class="hotlink hot-5" href="/portal.php?mod=view&aid=10" target="_blank" title="微信留言">&nbsp;</a>
		            <a class="hotlink hot-6" href="http://weibo.com/ciximet" target="_blank" title="微博留言">&nbsp;</a>
		        </div>