		<div class="mright frr">
			<!--{template common/helpsound}-->
	        <div class="mybox">
	        	<div class="box_top"><span class="corner1">&nbsp;</span></div>
	        	<div class="box_top2"><h3>新闻发布会</h3><a href="portal.php?mod=list&catid=4" class="moreLink">&nbsp;</a></div>
	        	
	        	<div class="box_middle news_tj">
	        		<!--{block/37}-->
	        	</div>
	        	<div class="box_top2"><h3>民生面对面</h3><a href="portal.php?mod=list&catid=5" class="moreLink">&nbsp;</a></div>
	        	<div class="box_middle news_tj">
	        		<!--{block/38}-->
	        	</div>
	        	<div class="box_bottom"><span class="corner2">&nbsp;</span></div>
	        </div>
        
			<div class="mybox cjwt">
	        	<div class="box_top"><span class="corner1">&nbsp;</span></div>
				<div class="box_top2"><h3>常见问题</h3><a href="portal.php?mod=list&catid=6" class="moreLink">&nbsp;</a></div>
				<div class="box_middle">
					<!--{block/32}-->
				</div>
				<div class="box_bottom"><span class="corner2">&nbsp;</span></div>
			</div>
			<div class="clr"></div>
		</div>