<!--{template common/header}-->
<!--[name]{lang portalcategory_listtplname}[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page,30);}-->

	<script type="text/javascript" src="{$_G[setting][jspath]}v3/jquery.slides.min.js?{VERHASH}"></script>
	<div id="pt" class="bm cl">
	    <div class="z">
	        <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
	        <!--{loop $cat[ups] $value}--> <a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a><em>&rsaquo;</em><!--{/loop}-->
	        $cat[catname]
	    </div>
	</div>

	
	<script type="text/javascript">
		jq(function() {
			jq('#slides_1').slidesjs({
		        width: 1067,
		        height:336,
		        navigation: false,
		        play: {
		            active: true,
		            auto: true,
		            interval: 4000,
		            swap: false,
		            pauseOnHover: true,
		            restartDelay: 2500
		          }
		    });
	    });
	
	</script>
